::selection {background-color: orchid; color: #ffffff;}

html {scroll-behavior: smooth;}
html * {font-family: 'Noto Sans KR', 'Noto Sans', 'Nanum Gothic', 'Open Sans', Helvetica, Arial, sans-serif;}
body {width: 100%; background-color: black; overflow-x: hidden;}
img {pointer-events: none;}
a {text-decoration: none;}
button {margin: 0; padding: 0; border: none; background: none; cursor: pointer;}

#loader {position: fixed; width: 100vw; height: 100vh; background-color: #000000; color: #dedede; font-weight: 200; font-size: 1rem; line-height: 1.6rem; text-align: center; display: flex; justify-content: center; align-items: center; z-index: 99999;}
#loader .tit {font-size: 1.6rem; font-weight: 600; margin-bottom: 2.4rem; color: #fefefe;}

header {position: absolute; width: 100%; top: 0; right: 0; z-index: 999;}
h1 {opacity: 0;}
h2 {position: sticky; top: 0; text-align: center; font-weight: bold; font-size: 10vw; color: #ededed; padding: 6rem 0 4rem;}
section {position: relative; width: 100%; z-index: 2;}

#lnb {margin: 24vh 2rem 2rem; text-align: center;}
#lnb ul {display: flex; justify-content: center;}
#lnb li {padding: 2rem; transition: 1s;}
#lnb button {font-weight: 100; font-size: 1.6rem; color: #ffffff; transition: 1s;}
header.on {position: fixed; width: auto;}
header.on #lnb {margin: 2rem; text-align: right;}
header.on #lnb li {padding: 1rem;}
header.on #lnb button {font-size: 1.2rem; opacity: .6; filter: blur(1px);}
header.on #lnb button:hover {filter: blur(0); transition: .2s;}

#main-section {color: #ffffff; text-align: center; margin-bottom: 50vh;}
#main-section .txt {position: relative; z-index: 1; opacity: 1; transition: .6s; width: 100%; overflow: hidden;}
#main-section .tit {position: absolute; top: 0; width: 190%; font-weight: 600; font-size: 5.6rem; line-height: 5.2rem;}
#main-section .vertical {position: relative; margin: 0 auto; padding: 20vh 0 20vh; width: 1.4rem; word-wrap: break-word; text-align:center; font-weight: 200; font-size: 1.6rem; line-height: 3.6rem;}

#portfolio-section {max-width: 1280px; padding: 1rem; margin: 0 auto;}
.portfolio-list li {position: relative;}
.portfolio-list .img-area {width: 56%; overflow: hidden; margin-bottom: 10rem; box-shadow: 10px 20px 60px rgba(0, 0, 0, .2); line-height: 0; transform: skewY(0) translateY(0); transform-origin: 0 0; transition: .4s;}
.portfolio-list .img-area img {width: 100%;}
.portfolio-list .txt-area {position: absolute; top: 20vh; left: 60%; width: 520px; transform: translateX(0) skewX(0); transform-origin: 0; transition: .2s ease-in;}
.portfolio-list .txt-area h3 {font-weight: bold; font-size: 2.4rem; color: #333333;}
.portfolio-list .txt-area .datetime {margin-top: 1rem; font-weight: 200; font-size: 1rem; letter-spacing: .05rem; color: #666666;}
.portfolio-list .txt-area .datetime .end::before {content: ' ~ ';}
.portfolio-list .txt-area dl {margin-top: 2.4rem;}
.portfolio-list .txt-area dt {padding: 1rem 0 .4rem; font-weight: bold; font-size: 1.125rem; color: #333333;}
.portfolio-list .txt-area dd {font-weight: 200; font-size: 1rem; line-height: 1.4rem; color: #666666;}
.portfolio-list .txt-area button {font-weight: 500; font-size: 1rem; color: #666666; border: 1px solid #666666; padding: .4rem 1rem; margin-top: 1rem; background-color: rgba(255, 255, 255, 0);}
.portfolio-list .txt-area button:hover {transform: scale(1.1); transition: .4s; background-color: rgba(255, 255, 255, .4); box-shadow: 0 0 20px rgba(0, 0, 0, .2);}
.portfolio-list li.on .img-area {transform: skewY(24deg) translateY(400px) scale(1.2);}
.portfolio-list li.portfolio-mockup-mobile-02.on .img-area {transform: skewY(0) translateY(0);}
.portfolio-list li.on .txt-area {transform: translateX(2000px) skewX(64deg);}

#contact-section .center-wrap {max-width: 1024px; margin: 0 auto; padding: 8rem 1rem;}
#contact-section input {width: 100%; border: none;}
#contact-section textarea {width: 100%; border: none;}

footer {width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center; perspective: 400px;}
footer .card {position: relative; display: block; width: 540px; height: 300px; border-radius: 4mm; box-sizing: border-box; background-color: #ffffff; box-shadow: 0 0 60px rgba(0, 0, 0, .1); transform: rotateX(90deg);}
/* footer .card address {position: absolute; bottom: 1.6rem; right: 1.6rem;} */
footer .card address {margin-top: 6rem; text-align: center;}
footer .card .name {font-weight: bold; color: #333333; font-size: 1.6rem; margin-bottom: 1.6rem;}
footer .card li {font-weight: bold; color: #333333; margin-top: .8rem;}
footer .card li a {font-weight: normal; color: #666666;}
footer .card li a:hover {color: #333333;}

footer.on {
    background: linear-gradient(137deg rgba(255, 60, 172, .9), rgba(120, 75, 160, .9), rgba(43, 134, 197, .9));
    background-size: 800% 800%;
    /* animation: backgroudAnimation 16s ease-in-out infinite; */
}

@keyframes backgroudAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
    /* 0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    } */
    
}