@charset "utf-8";

section .cont {margin-top: 3rem; font-size: .98rem; line-height: 1.4rem;}
section .cont>li>ul>li {list-style: disc inside; margin-top: .8rem; margin-left: 1rem; color: #666666;}
section .cont>li>ul>li li {margin-top: .6rem; margin-left: 1rem;}
section .cont .link {margin-top: .5rem; margin-left: 1.6rem; color: #666666;}
section .cont .link:before {content: '▶'; font-size: .02rem; margin-right: .4rem;}
section .cont .link a {color: #ff611c;}
section .description {margin-top: .4rem; margin-left: 1.6rem; color: #666666;}
section .description:before {content: '* ';}

section table {width: 100%; border-top: 2px solid #9f9f9f; margin-top: 1rem;}
section table th, section table td {vertical-align: middle; text-align: center; line-height: 1.7rem; border-bottom: 1px solid #d8d8d8;}
section table th:not(:first-child), section table td:not(:first-child) {border-left: 1px solid #d8d8d8;}
section table th {width: 26.8%; padding: .8rem 2%; background-color: #f7f7f7; font-size: 1.1rem;}
section table td {width: auto; padding: .7rem 1.6%; font-size: .96rem; color: #666666;}
section table.mt3 {margin-top: 3rem;}
section table.mt3 tr:first-child th:first-child {width: 10%;}
section table.mt3 tr:first-child th:nth-child(2), section table.mt3 tr:first-child th:nth-child(3) {width: 45%;}

@media screen and (max-width: 1400px) {
    
}

@media screen and (max-width: 800px) {
    section table {overflow-x: scroll;}
}












