@charset "utf-8";

#main-top-area {background: url(../../img/visual/visual_04.jpg) no-repeat center 82%; background-size: cover;}

#product-summary {margin-top: 2.24rem; border: 2px solid #71b8ff; border-radius: 10px; padding: 1.8rem 2rem 1.64rem;}
#product-summary .info {font-size: 1.3rem; line-height: 1.6rem;}
#product-summary ul {margin-top: 1.5rem;}
#product-summary ul:after {content: ''; display: block; clear: both;}
#product-summary li {float: left; width: 60%; padding: .2rem 0; box-sizing: border-box;}
#product-summary li:nth-child(2n) {width: 40%; border-left: 1px solid #dcdcdc; padding-left: 2.4rem;}
#product-summary li div {float: left; font-size: .98rem; line-height: 1.4rem;}
#product-summary .heading {background: url(../../img/circle_666666_5x5.png) no-repeat left center; padding-left: .7rem; padding-right: .8rem; border-right: 1px solid #dcdcdc;}
#product-summary .data {padding: 0 .8rem; color: #666666;}

section>.tab {margin-top: 3.8rem; width: 100%;}
section>.tab:after {content: ''; display: block; clear: both;}
section>.tab li {float: left; width: 33.3%;}
section>.tab.ver02 li {width: 50%;}
section>.tab li a {display: block; text-align: center; border-top: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; font-size: 1.2rem; padding: 1.24rem 0;}
section>.tab li:first-child a {border-left: 1px solid #e0e0e0;}
section>.tab li .active {border-color: #4197ec; background: #4197ec linear-gradient(0deg, #2d85dc, #4197ec); color: #ffffff;}
section>.tab li .active:focus {outline-color: #666666;}

section h4 {margin: 1.9rem 0 .6rem; padding-left: .7rem; background: url(../../img/icon/bullet_01_3x16.png) no-repeat left .24rem; font-weight: bold; font-size: 1.2rem; line-height: 1.6rem; color: #333333;}

@media screen and (max-width: 1400px) {
    #product-summary li {width: 100%;}
    #product-summary li:nth-child(2n) {border-left: none; padding-left: 0;}
}

@media screen and (max-width: 800px) {
    #product-summary li div {float: none;}
    #product-summary .heading {width: 100%; border-right: none;}
    #product-summary .data {width: 100%; margin-top: .4rem;}
    
    section>.tab li {width: 100%;}
    section>.tab.ver02 li {width: 100%;}
    section>.tab li a {border-top: none; border-left: 1px solid #e0e0e0;}
    section>.tab li:first-child a {border-top: 1px solid #e0e0e0;}
}











