@charset "utf-8";

section {font-size: .97rem; line-height: 1.5rem;}
section h4 {margin-top: 2.4rem;}
section h4+p {color: #666666; margin-left: 1rem;}
section h4+p strong {color: #333333;}

#wiz-step-tab {margin-top: 2.4rem; padding: 0 1.1rem;}
#wiz-step-tab:after {content: ''; display: block; clear: both;}
#wiz-step-tab li {float: left; width: 33.33%; height: 5.64rem; box-sizing: border-box; border: 1px solid #bfbfbf; background: #f6f6f6 url(../../img/btn_step_02_137x88.png) no-repeat left; font-size: 1.2rem; color: #666666;}
#wiz-step-tab li .icon {display: block; width: 137px; height: 100%; float: left;}
#wiz-step-tab li:nth-child(1) .icon {background: url(../../img/icon/icon_checklist_777777_43x56.png) no-repeat 33% 46%;}
#wiz-step-tab li.active:nth-child(1) .icon {background: url(../../img/icon/icon_checklist_ffffff_43x56.png) no-repeat 33% 46%;}
#wiz-step-tab li:nth-child(2) .icon {background: url(../../img/icon/icon_write_777777_61x55.png) no-repeat 40% 50%;}
#wiz-step-tab li.active:nth-child(2) .icon {background: url(../../img/icon/icon_write_ffffff_61x55.png) no-repeat 40% 50%;}
#wiz-step-tab li:nth-child(3) .icon {background: url(../../img/icon/icon_calculator_777777_43x56.png) no-repeat 35% 50%;}
#wiz-step-tab li.active:nth-child(3) .icon {background: url(../../img/icon/icon_calculator_ffffff_43x56.png) no-repeat 35% 50%;}
#wiz-step-tab li .txt {float: left; width: calc(100% - 137px); height: 100%; box-sizing: border-box; padding: 1.1rem 1rem; padding-left: 4.5%;}
#wiz-step-tab li .bold {font-weight: 600; font-size: 1.2rem;}
#wiz-step-tab li .tit {margin-top: .2rem;}
#wiz-step-tab li.active {border-color: #136dc4; background: url(../../img/btn_step_02_137x88_on.png) no-repeat, linear-gradient(90deg, #1165b8, #3893ec); color: #ffffff;}

.wiz-main-btn-wrap {text-align: center; margin: 2.1rem auto;}
.wiz-main-btn-wrap>* {display: inline-block; width: 23.4rem; padding: 1.04rem 0; margin: .4rem; text-align: center; font-size: 1.1rem;}
.btn-prev-step {background-color: #ffffff; color: #666666; border: 1px solid #999999;}
.btn-prev-step:focus {outline-color: #4197ec;}
.btn-next-step {background-color: #4197ec; color: #ffffff;}
.btn-next-step:focus {outline-color: #666666;}

#wiz-step-cont {padding: 0 1.1rem;}
#wiz-step-cont h5 {height: 0; width: 0; overflow: hidden; text-indent: -9999999px; font-size: 0; line-height: 0;}
#wiz-step-cont .step-02, #wiz-step-cont .step-03 {display: none;}
#wiz-step-cont .step-01 ul:after {content: ''; display: block; clear: both;}
#wiz-step-cont .step-01 li {float: left; box-sizing: border-box; width: 23.4%; border: 8px solid #4197ec; margin-top: 1.6rem; margin-left: 2.1%;}
#wiz-step-cont .step-01 li:nth-child(1), #wiz-step-cont .step-01 li:nth-child(8), #wiz-step-cont .step-01 li:nth-child(9) {margin-left: 0;}
#wiz-step-cont .step-01 li:nth-child(5), #wiz-step-cont .step-01 li:nth-child(6), #wiz-step-cont .step-01 li:nth-child(7), #wiz-step-cont .step-01 li:nth-child(8) {float: right;}
#wiz-step-cont .step-01 li .question-area {position: relative; height: 10.9rem; box-sizing: border-box; padding: 1.4rem 1rem;}
#wiz-step-cont .step-01 li .question-area .num {position: relative; font-size: 1.9rem; color: #3892eb;}
#wiz-step-cont .step-01 li .question-area .num:after {content: ''; display: block; position: absolute; top: .1rem; left: 2.6rem; width: 22px; height: 22px; background: url(../../img/icon/icon_angle_right_4197ec_22x22.png) no-repeat;}
#wiz-step-cont .step-01 li:nth-child(4n) .question-area .num:after {background-image: url(../../img/icon/icon_angle_bottom_4197ec_22x22.png);}
#wiz-step-cont .step-01 li:nth-child(5) .question-area .num:after, #wiz-step-cont .step-01 li:nth-child(6) .question-area .num:after, #wiz-step-cont .step-01 li:nth-child(7) .question-area .num:after {background-image: url(../../img/icon/icon_angle_left_4197ec_22x22.png);}
#wiz-step-cont .step-01 li:last-child .question-area .num:after {display: none;}
#wiz-step-cont .step-01 li .question-area p {margin-top: .6rem; padding-right: 2rem; color: #666666;}
#wiz-step-cont .step-01 li .check-area {height: 10rem; box-sizing: border-box; padding: 1rem 1.1rem; padding-left: 2.4rem; border-top: 1px dashed #cecece; background-color: #f7f7f7;}
#wiz-step-cont .step-01 input[type="radio"] {opacity: 0;}
#wiz-step-cont .step-01 input[type="radio"] + label {position: relative; display: block; padding: .28rem 0; background-repeat: no-repeat; background-position: right center; color: #666666; margin-top: -1.6rem;}
#wiz-step-cont .step-01 input[type="radio"] + label:before {content: ''; display: block; position: absolute; top: .5rem; left: -1.4rem; width: 16px; height: 16px; border-radius: 8px; background: #ffffff url(../../img/radio_16x16.png) no-repeat left center; margin-right: .5rem;}
#wiz-step-cont .step-01 input[type="radio"]:checked + label:before {background-image: url(../../img/radio_on_16x16.png);}
#wiz-step-cont .step-01 li.question-area-h-7 .question-area {height: 7rem;}
#wiz-step-cont .step-01 li.question-area-h-7 .check-area {height: 13.9rem;}
#wiz-step-cont .step-01 li.question-area-h-15 .question-area {height: 14.9rem;}
#wiz-step-cont .step-01 li.question-area-h-15 .check-area {height: 6rem;}
#wiz-step-cont .step-01 li.active .check-area {border-top: none; background-color: #4197ec;}
#wiz-step-cont .step-01 li.active .check-area label {color: #ffffff;}
#wiz-step-cont .step-01 li.active strong {color: #ffffff;}
#wiz-step-cont .step-01 li.none {height: 21.9rem; border-color: #e5e5e5;}
#wiz-step-cont .step-01 li.none:after {content: '자금융자 마법사'; display: block; color: #999999; text-align: center;}
#wiz-step-cont .step-01 li.none .question-area {height: 10rem;}
#wiz-step-cont .step-01 li.none .question-area .num:after, #wiz-step-cont .step-01 li.none .question-area p, #wiz-step-cont .step-01 li.none .check-area, #wiz-step-cont .step-01 li.none button.btn-help {display: none;}

#wiz-step-cont .step-02 table {width: 100%; border-top: 1px solid #c4c4c4; margin-top: 2.8rem;}
#wiz-step-cont .step-02 table th, section table td {border-bottom: 1px solid #ededed; vertical-align: middle;}
#wiz-step-cont .step-02 table th {width: 12.6rem; background-color: #f9f9f9; text-align: center;}
#wiz-step-cont .step-02 table td {padding: 1rem 1.4rem; color: #666666;}
#wiz-step-cont .step-02 input[type='text'] {border: 1px solid #d6d6d6; padding: .6rem; margin-left: 2rem;}
#wiz-step-cont .step-02 input[type="radio"] {opacity: 0;}
#wiz-step-cont .step-02 input[type="radio"] + label {display: inline-block; padding: .28rem 0; padding-right: 2.44rem; background-repeat: no-repeat; background-position: right center; color: #666666; margin-left: -.8rem;}
#wiz-step-cont .step-02 input[type="radio"] + label:before {content: ''; display: inline-block; width: 16px; height: 16px; border-radius: 8px; background: #ffffff url(../../img/radio_16x16.png) no-repeat left center; margin-right: .5rem;}
#wiz-step-cont .step-02 input[type="radio"]:checked + label:before {background-image: url(../../img/radio_on_16x16.png);}
#wiz-step-cont .step-02 input[type="radio"]:disabled + label {color: #cccccc; cursor: default;}
#wiz-step-cont .step-02 label[for="input-commas"] {display: none;}

#wiz-step-cont .step-03 h6 {margin: 3.1rem 0 1rem; font-size: 1.1rem;}
#wiz-step-cont .step-03 table {width: 100%; border-top: 1px solid #c4c4c4;}
#wiz-step-cont .step-03 table th, #wiz-step-cont .step-03 table td {border-bottom: 1px solid #ededed; vertical-align: middle;}
#wiz-step-cont .step-03 table th {width: 14rem; box-sizing: border-box; padding: 0 1.6rem; background-color: #f9f9f9;}
#wiz-step-cont .step-03 table td {padding: 1.1rem 1.4rem; color: #666666;}
#wiz-step-cont .step-03 .table-02 td .val, #wiz-step-cont .step-03 table td .strong {color: #4197ec;}
#wiz-step-cont .step-03 table td a {display: inline-block; box-sizing: border-box; border: 2px solid #80c0ff; width: 11.6rem; height: 2.8rem; padding: .5rem .8rem; font-size: 1.0rem; color: #666666; text-align: left; background: url(../../img/btn_link_01_22x22.png) no-repeat 94% center; transition: .6s; margin: 0 1rem;;}
#wiz-step-cont .step-03 table td a:hover {background-color: #80c0ff; color: #ffffff;}
#wiz-step-cont .step-03 input[type='text'] {border: 1px solid #d6d6d6; padding: .6rem; margin-left: 2rem;}
#wiz-step-cont .step-03 input[type="radio"] {display: none;}
#wiz-step-cont .step-03 input[type="radio"] + label {display: inline-block; padding: .28rem 0; padding-right: 2.44rem; background-repeat: no-repeat; background-position: right center; color: #666666;}
#wiz-step-cont .step-03 input[type="radio"] + label:before {content: ''; display: inline-block; width: 16px; height: 16px; border-radius: 8px; background: #ffffff url(../../img/radio_16x16.png) no-repeat left center; margin-right: .5rem;}
#wiz-step-cont .step-03 input[type="radio"]:checked + label:before {background-image: url(../../img/radio_on_16x16.png);}
#wiz-step-cont .step-03 .description {margin-top: 1rem; color: #ff3b3b;}
#wiz-step-cont .step-03 .description:before {content: '* ';}

button.btn-help {position: absolute; top: 1.5rem; right: 1.2rem; width: 26px; height: 26px; background: url(../../img/question-mark_01_26x26.png) no-repeat center;}
a.btn-help {position: relative; color: #4197ec; border-bottom: 1px dotted #999999;}
#help-list .help-area {position: absolute; max-width: 15.6rem; border: 1px solid #999999; padding: 1rem; background-color: #ffffff; color: #666666; z-index: 10; display: none;}
#help-list .help-area h6 {margin-bottom: .8rem; color: #333333;}
#help-list .help-area h7 {display: block; margin: .8rem 0 .2rem;; color: #333333;}
#help-list .help-area p {margin-left: 1rem;}
#help-list .help-area li {margin-left: 1rem;}
#help-list .help-area .description {color: #666666; font-size: .94rem; line-height: 1.3rem; margin-top: 1rem;}
#help-list .help-area .description:before {content: '* '}
#help-list .help-area a {display: inline-block; background-color: #4197ec; color: #ffffff; padding: .1rem .8rem;}

#popup-wiz01-incorrect.popup-box {max-width: 38rem; width: 90%;}
#popup-wiz01-incorrect h7 {display: block; background-color: #4197ec; color: #ffffff; font-size: 1.2rem; line-height: 1.8rem; padding: 1rem 4rem 1rem 2rem;}
#popup-wiz01-incorrect .close {position: absolute; top: .4rem; right: .4rem; width: 2.6rem; height: 2.6rem; background: url(../../img/btn_close_02_19x19.png) no-repeat center;}
#popup-wiz01-incorrect>ul>li {display: none; padding: 1.4rem 2rem 2rem; color: #666666; font-size: .96rem; line-height: 1.5rem;}
#popup-wiz01-incorrect>ul>li p {margin-top: .4rem;}
#popup-wiz01-incorrect>ul>li li {margin-top: .4rem; margin-left: 1rem;}
#popup-wiz01-incorrect>ul>li a {display: inline-block; background-color: #4197ec; color: #ffffff; padding: .1rem .8rem; margin-left: .4rem;}
#popup-wiz01-incorrect>ul>li a:focus {outline-color: #666666;}

@media screen and (max-width: 1400px) {
    #wiz-step-tab li {width: 100%;}
    #wiz-step-tab li .txt {padding: 2rem;}
    #wiz-step-tab li .bold {float: left;}
    #wiz-step-tab li h5 {float: left; margin-top: 0; margin-left: 2rem;}
    
    #wiz-step-cont .step-01 li {width: 32%; margin-left: 2%;}
    #wiz-step-cont .step-01 li:nth-child(8), #wiz-step-cont .step-01 li:nth-child(9) {margin-left: 2%;}
    #wiz-step-cont .step-01 li:nth-child(6), #wiz-step-cont .step-01 li:nth-child(7) {margin-left: 0;}
    #wiz-step-cont .step-01 li:nth-child(7), #wiz-step-cont .step-01 li:nth-child(8) {float: left;}
    #wiz-step-cont .step-01 li:nth-child(4), #wiz-step-cont .step-01 li:nth-child(5), #wiz-step-cont .step-01 li:nth-child(6) {float: right;}
    #wiz-step-cont .step-01 li .question-area {height: 14rem;}
    #wiz-step-cont .step-01 li.question-area-h-7 .question-area {height: 9.11rem;}
    #wiz-step-cont .step-01 li.question-area-h-15 .question-area {height: 20rem;}
    #wiz-step-cont .step-01 li:nth-child(4n) .question-area .num:after {background-image: url(../../img/icon/icon_angle_right_4197ec_22x22.png);}
    #wiz-step-cont .step-01 li:nth-child(3n) .question-area .num:after {background-image: url(../../img/icon/icon_angle_bottom_4197ec_22x22.png);}
    #wiz-step-cont .step-01 li:nth-child(7) .question-area .num:after {background-image: url(../../img/icon/icon_angle_right_4197ec_22x22.png);}
    #wiz-step-cont .step-01 li:nth-child(4) .question-area .num:after, #wiz-step-cont .step-01 li:nth-child(5) .question-area .num:after {background-image: url(../../img/icon/icon_angle_left_4197ec_22x22.png);}
    #wiz-step-cont .step-01 li .check-area {height: 12rem;}
    #wiz-step-cont .step-01 li.question-area-h-7 .check-area {height: 16.9rem;}
    #wiz-step-cont .step-01 li.question-area-h-15 .check-area {height: 6rem;}
    #wiz-step-cont .step-01 li.none {height: 27rem;}
    #wiz-step-cont .step-01 li.none .question-area {height: 12rem;}
}

@media screen and (max-width: 800px) {
    section h4+p {color: #666666; margin-left: 0;}
    
    #wiz-step-tab {padding: 0;}
    #wiz-step-tab li {display: none;}
    #wiz-step-tab li.active {display: block; background: linear-gradient(90deg, #1165b8, #3893ec);}
    #wiz-step-tab li .icon {display: none;}
    #wiz-step-tab li .txt {width: 100%; padding: 1.1rem;}
    #wiz-step-tab li .bold {float: none;}
    #wiz-step-tab li h5 {float: none; margin-top: .4rem; margin-left: 0;}
    
    .wiz-main-btn-wrap>* {width: 100%; margin: .4rem 0;}
    
    #wiz-step-cont {padding: 0;}
    #wiz-step-cont .step-01 {padding: 0;}
    #wiz-step-cont .step-01 li {width: 100%; margin-left: 0;}
    #wiz-step-cont .step-01 li:nth-child(8), #wiz-step-cont .step-01 li:nth-child(9) {margin-left: 0;}
    #wiz-step-cont .step-01 li.active {display: none; transition: .4s;}
    #wiz-step-cont .step-01 li.active:last-child {display: block;}
    #wiz-step-cont .step-01 li.none {display: none;}
    #wiz-step-cont .step-01 li .question-area {height: auto;}
    #wiz-step-cont .step-01 li.question-area-h-7 .question-area {height: auto;}
    #wiz-step-cont .step-01 li.question-area-h-15 .question-area {height: auto;}
    #wiz-step-cont .step-01 li .question-area .num:after {display: none;}
    #wiz-step-cont .step-01 li .check-area {height: auto;}
    #wiz-step-cont .step-01 li.question-area-h-7 .check-area {height: auto;}
    #wiz-step-cont .step-01 li.question-area-h-15 .check-area {height: auto;}
    
    #wiz-step-cont .step-02 input[type='text'] {margin-left: 0;}
    
    #wiz-step-cont .step-03 table th, #wiz-step-cont .step-03 table td {text-align: center;}
    #wiz-step-cont .step-02 table th, #wiz-step-cont .step-03 table th {display: block; width: 100%; box-sizing: border-box; padding: 1rem 0;}
    #wiz-step-cont .step-02 table td, #wiz-step-cont .step-03 table td {display: block; padding: 1.1rem 0;}
    
    #popup-wiz01-incorrect.popup-box {margin-top: 40%;}
}












