@charset "UTF-8";

/* #btn-switch-mode-gradient {position: absolute; top: 2rem; left: 2rem; color: #ffffff; border: 1px solid #ffffff; width: 8rem; height: 8rem; border-radius: 100%; z-index: 1000;}
#btn-switch-mode-gradient::after {content: 'click'; background-color: #ffffff; color: #333333; font-size: 1.5rem; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 100%; display: flex; justify-content: center; align-items: center; z-index: 11; transition: .2s;}
#btn-switch-mode-gradient:hover::after {transform: scale(0);} */

header {
  position: absolute;
  padding: 2rem;
}
h1 {
  margin-top: 1rem;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-size: 1.5rem;
  display: none;
}
#lnb {
  li {
    position: fixed;
    z-index: 999;
    padding: 2rem;
  }
  .lnb-top {
    top: 0;
    left: 0;
  }
  .lnb-portfolio {
    top: 0;
    right: 0;
  }
  .lnb-contact {
    bottom: 0;
    left: 0;
  }
  .lnb-footer {
    bottom: 0;
    right: 0;
  }
  a {
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--color-gray10);
    opacity: 0.6;
    filter: blur(1px);
  }
  a:hover {
    filter: blur(0);
    text-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: 0.2s;
  }
}

#main-scroll-layer {
  position: relative;
  width: 100%;
  z-index: 10;
  margin-bottom: 100vh;
}
#main-background-area {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .circle {
    border-radius: 100%;
    width: 0;
    height: 0;
    background-color: var(--color-gray08);
  }
}

#circle-scroll-svg {
  position: absolute;
  bottom: -6vh;
  right: -2vw;
  z-index: 2;
  width: 48vh;
  opacity: 0.08;
  &.rotate-animate {
    animation: rotate 8s infinite linear;
    transform-origin: 50% 50%;
  }
}

section {
  position: relative;
  width: 100%;
  z-index: 2;
  h2 {
    top: 0;
    text-align: center;
    font-weight: bold;
    font-size: 12rem;
    line-height: 12rem;
    color: var(--color-gray08);
    padding: 6rem 0 4rem;
  }
}

#main-section {
  color: var(--color-gray10);
  text-align: center;
  margin-bottom: 50vh;
  .txt {
    position: relative;
    z-index: 2;
    opacity: 1;
    transition: 0.6s;
    width: 100%;
  }
  .tit {
    position: fixed;
    top: 40vh;
    width: 228rem;
    font-weight: 600;
    font-size: 5.6rem;
    line-height: 5.2rem;
  }
  .vertical {
    position: relative;
    margin: 0 auto;
    padding: 100vh 0 20vh;
    width: 1.4rem;
    word-wrap: break-word;
    text-align: center;
    font-weight: 200;
    font-size: 1.6rem;
    line-height: 3.6rem;
  }
}

#portfolio-section {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  box-sizing: border-box;
  overflow: hidden;
  h2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    padding: 0;
    &.on {
      position: fixed;
    }
  }
  .category-tab-wrap {
    position: absolute;
    top: 100vh;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    z-index: 5;
    button {
      margin: 0 2rem;
      font-weight: 300;
      font-size: 1.25rem;
      color: var(--color-gray04);
      transition: 0.4s;
      &.on {
        font-weight: bold;
        color: var(--color-gray01);
      }
    }
    &.on {
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.9);
      button {
        margin: 0 1rem;
        font-size: 1rem;
      }
    }
  }
  .center-wrap {
    max-width: 1280px;
    box-sizing: border-box;
    padding: 2rem 1rem;
    margin: 0 auto;
  }
  .portfolio-list {
    padding-top: 100vh;
    &::after {
      content: '';
      display: block;
      clear: both;
    }
    & > li {
      position: relative;
      z-index: 4;
      display: flex;
      justify-content: space-between;
      .txt-area {
        h3 {
          font-weight: bold;
          font-size: 2rem;
          color: var(--color-gray01);
        }
        p {
          margin-top: 2.4rem;
        }
        .datetime {
          margin-top: 1rem;
          font-weight: 200;
          font-size: 1rem;
          letter-spacing: 0.05rem;
          color: var(--color-gray03);
          .end::before {
            content: ' ~ ';
          }
        }
        dl {
          margin-top: 2.4rem;
        }
        dt {
          padding: 1rem 0 0.4rem;
          font-weight: bold;
          font-size: 1.125rem;
          color: var(--color-gray01);
        }
        dd {
          font-weight: 300;
          font-size: 1rem;
          line-height: 1.4rem;
          color: var(--color-gray03);
          dl {
            margin-top: 0;
          }
          dt,
          dd {
            display: inline;
          }
          dt {
            color: var(--color-gray03);
            font-weight: 500;
            font-size: 1rem;
          }
          li {
            margin-top: 0.5rem;
          }
          ul li {
            list-style: disc inside;
          }
        }
        button {
          font-weight: 500;
          font-size: 1rem;
          color: var(--color-gray03);
          padding: 0.4rem 1rem;
          margin-top: 1rem;
          border-radius: 4px;
          background-color: rgba(255, 255, 255, 0);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
          &:hover,
          &:focus {
            transform: translateY(-4px);
            transition: 0.4s;
            background-color: rgba(255, 255, 255, 0.4);
            box-shadow: 0.75rem 0.75rem 1.5rem rgba(0, 0, 0, 0.2);
          }
        }
      }
      &.hidden {
        display: none;
      }
      .txt-area button + button {
        margin-left: 0.5rem;
      }
      &.motion {
        width: 100%;
        clear: both;
        margin-top: 10rem;
        .img-area {
          line-height: 0;
          transform: skewY(24deg) translateY(400px) scale(1.2);
          transform-origin: 0 0;
          opacity: 0;
          img {
            width: 100%;
            box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.2);
          }
        }
        .txt-area {
          position: fixed;
          z-index: 5;
          top: 20vh;
          width: calc((1280px / 100) * 40);
          transform: translateX(-2000px) skewX(64deg);
          transform-origin: 0;
          transition: 0.2s ease-in;
        }
        &:nth-child(odd) {
          flex-direction: row-reverse;
          .img-area {
            margin-right: 50%;
          }
          .txt-area {
            left: 52%;
            text-align: left;
            transform: translateX(2000px) skewX(64deg);
          }
        }
        &:nth-child(even) {
          .img-area {
            margin-left: 50%;
          }
          .txt-area {
            right: 52%;
            text-align: right;
            transform: translateX(-2000px) skewX(64deg);
          }
        }
        &.type-pc {
          .img-area {
            width: 50%;
          }
        }
        &.type-mobile {
          .img-area {
            position: relative;
            width: 20rem;
            // position: absolute; top: 0; width: 20rem; height: 43.125rem;-webkit-mask-image: url(../../../assets/img/mockup.png); mask-image: url(../../../assets/img/mockup.png); -webkit-mask-size: cover; mask-size: cover;
            .img-wrap {
              width: 100%;
              img {
                width: 100%;
                & + img {
                  margin-top: 1rem;
                }
              }
            }
          }
          // .txt-area {display: none}
        }
        .img-area.on {
          transform: skewY(0) translateY(0) scale(1);
          opacity: 1;
          transition: 0.4s;
        }
        .txt-area.on {
          transform: translateX(0) skewX(0);
        }
      }
      &.txt-version {
        width: 50%;
        float: left;
        box-sizing: border-box;
        padding-top: 6rem;
        .txt-area {
          border-left: 0.25rem solid var(--color-gray08);
          padding: 0 2rem;
        }
      }
    }
    /* &>li.portfolio-mockup-mobile-02 .img-area.on {transform: skewY(0) translateY(0);} */
  }
}

#contact-section {
  position: relative;
  padding: 10rem 0;
  h2 {
    height: 100vh;
    color: #ffffff;
    text-shadow: 0 0 4rem rgba(0, 0, 0, 0.8);
    padding-bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .form-area {
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      box-shadow: 0 0 4rem rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
    }
  }
  li ~ li {
    margin-top: 1rem;
  }
  .center-wrap {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 2rem;
    background-color: var(--color-gray10);
  }
  label {
    display: block;
    padding: 2rem 0;
    text-align: center;
    color: #999999;
    font-weight: bold;
    font-size: 2rem;
    &.on {
      color: var(--color-gray01);
    }
  }
  input,
  textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0.6rem;
    border-color: #999999;
    font-size: 1rem;
    transition: 0.4s;
  }
  input {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    &:focus {
      border-bottom-width: 3px;
      border-color: var(--color-gray01);
    }
  }
  textarea {
    border-width: 1px;
    border-style: solid;
    &:focus {
      border-width: 3px;
      border-color: var(--color-gray01);
    }
  }
  .btn-area {
    text-align: center;
    padding: 2rem 0;
  }
  button[type='submit'] {
    color: var(--color-gray01);
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
    padding: 1rem;
    border-radius: 12px;
    &:hover {
      text-shadow: 10px 10px 1.5rem rgba(0, 0, 0, 0.8);
      transform: translateY(-4px);
      transition: 0.4s;
    }
  }
  &.animation-by-scroll-style {
    height: calc(
      var(--animation-by-scroll-style-contact-section-height) *
        var(--animation-by-scroll-style-speed)
    );
    padding: 0;
    .join-motion-txt-area {
      position: absolute;
      top: calc(
        var(--animation-by-scroll-style-join-area-top) *
          var(--animation-by-scroll-style-speed)
      );
      left: 0;
      width: 100%;
      &.fixed {
        position: fixed;
        top: 50vh;
        left: 0;
      }
      .line {
        top: 50%;
        transform: scaleX(0);
        &.left {
          left: 50%;
          transform-origin: top left;
        }
        &.right {
          right: 50%;
          transform-origin: top right;
        }
      }
      .txt {
        opacity: 0;
        &.txt01 {
          transform: translateX(-100vw);
          transform-origin: top right;
        }
        &.txt02 {
          transform: translateX(100vw);
          transform-origin: top left;
        }
      }
    }
    h2 {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
    }
    &.form-area {
      position: absolute;
      top: calc(
        var(--animation-by-scroll-style-form-area-top) *
          var(--animation-by-scroll-style-speed)
      );
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 4;
      transform: scale(0);
      &.fixed {
        position: fixed;
        top: 0;
        left: 0;
      }
    }
  }
}
.join-motion-txt-area {
  position: relative;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--color-gray01);
  text-align: center;
  overflow: hidden;
  z-index: 3;
  .line {
    position: absolute;
    top: 1rem;
    display: block;
    width: 50%;
    height: 1px;
    background-color: #acacac;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }
  .txt {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: var(--color-gray10);
    z-index: 100;
  }
}

/* animate script style */
:root {
  --animation-by-scroll-style-speed: 1; /* 해당 스크립트 참고 */
  --animation-by-scroll-style-contact-section-height: 1100vh;
  --animation-by-scroll-style-join-area-top: 500vh;
  --animation-by-scroll-style-form-area-top: 1000vh;
}

footer {
  width: 100vw;
  height: 200vh;
  position: relative;
  .card-space {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 400px;
    overflow: hidden;
    z-index: 3;
    &.bg-mobile {
      $color: aquamarine;
      background-color: $color !important;
      .card li a:hover {
        color: $color !important;
      }
    }
    &.bg-email {
      $color: lightsalmon;
      background-color: $color !important;
      .card li a:hover {
        color: $color !important;
      }
    }
    &.bg-git {
      $color: yellowgreen;
      background-color: $color !important;
      .card li a:hover {
        color: $color !important;
      }
    }
    &.bg-notion-01 {
      $color: violet;
      background-color: $color !important;
      .card li a:hover {
        color: $color !important;
      }
    }
    &.bg-notion-02 {
      $color: rgb(153, 130, 238);
      background-color: $color !important;
      .card li a:hover {
        color: $color !important;
      }
    }
  }
  .card {
    position: relative;
    z-index: 10;
    display: block;
    width: 540px;
    height: 300px;
    box-sizing: border-box;
    background-color: var(--color-gray10);
    border-radius: 4mm;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
    transform: rotateX(90deg);
    transform-style: preserve-3d;
    .front,
    .back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-radius: 4mm;
      backface-visibility: hidden;
    }
    .front {
      transform: translateZ(-1px) rotateY(180deg) rotateZ(180deg);
    }
    .back {
      transform: translateZ(1px) rotateY(0deg);
    }
    address {
      padding-top: 4rem;
      text-align: center;
    }
    .name {
      font-weight: bold;
      color: var(--color-gray01);
      font-size: 1.6rem;
      margin-bottom: 2.6rem;
    }
    li {
      font-weight: bold;
      color: var(--color-gray01);
      margin-top: 0.8rem;
      a {
        font-weight: normal;
        color: var(--color-gray03);
      }
    }
  }
  .clock-arae {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
}
#time-the-current-user-is-staying {
  text-align: center;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--color-gray01);
  padding: 4rem 0;
  span {
    font-weight: bold;
  }
}

@keyframes backgroudAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  /* 0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    } */
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1280px) {
  header {
    padding: 0;
  }

  .btn-main-menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 1.8rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    transition: 0.2s;
    i {
      background-color: var(--color-gray10);
      width: 80%;
      height: 0.2rem;
      border-radius: 0.1rem;
      transition: 0.2s;
      &:nth-child(2) {
        width: 100%;
      }
    }
    &.mode-close {
      transform: rotate(180deg);
      i {
        width: 116%;
        background-color: var(--color-gray10) !important;
        &:nth-child(1) {
          transform: rotate(45deg);
          transform-origin: top left;
        }
        &:nth-child(2) {
          width: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
          transform-origin: bottom left;
        }
      }
    }
  }
  #lnb {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 6rem;
    text-align: right;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    li {
      position: relative;
      z-index: 999;
      padding: 2rem;
    }
    a {
      font-weight: 400;
      font-size: 1.5rem;
      color: var(--color-gray10);
      opacity: 0.6;
      filter: blur(1px);
      transition: 1s;
    }
    &.on {
      display: block;
      a {
        color: var(--color-gray10) !important;
      }
    }
  }

  // #portfolio-section {max-width: 1024px; padding: 0; margin: 0 auto;}
}
@media screen and (max-width: 1024px) {
  section h2 {
    font-size: 6rem;
    line-height: 8rem;
    padding: 4rem 0 2rem;
  }

  .portfolio-list {
    .img-area {
      width: 60%;
      margin: auto;
      overflow: hidden;
      margin-bottom: 10rem;
      box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.2);
      line-height: 0;
      transform: skewY(24deg) translateY(400px) scale(1.2);
      transform-origin: 0 0;
      opacity: 0;
    }
    .txt-area {
      top: auto;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      box-sizing: border-box;
      padding: 2rem 2rem;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.9);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    & > li:nth-child(odd) .txt-area,
    & > li:nth-child(even) .txt-area {
      left: 0;
      right: 0;
      text-align: center;
    }
  }

  #contact-section .form-area form {
    min-height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  #main-section .tit {
    font-size: 2.5rem;
    width: 102rem;
  }
  #main-section .vertical {
    font-size: 1.2rem;
    line-height: 2.4rem;
  }
  #portfolio-section {
    padding: 1rem;
  }
  .portfolio-list .img-area {
    width: 100%;
  }
  #contact-section label {
    font-size: 1.5rem;
  }
  #contact-section button[type='submit'] {
    font-size: 1.5rem;
  }
  .join-motion-txt-area {
    font-size: 1rem;
  }
  footer .card {
    width: 80%;
    height: auto;
    address {
      padding: 2rem 1rem;
      margin-top: 2rem;
    }
    li {
      margin-top: 1.5rem;
      a {
        display: block;
        margin-top: 0.5rem;
      }
    }
  }
}
