@charset "utf-8";

#main-top-area {background: url(../../img/visual/visual_06.jpg) no-repeat center 57%; background-size: cover;}

#inquiry-area .table {margin-top: 4.8rem; border: 1px solid #e0e0e0; border-top: 2px solid #a4a4a4; padding: 0 2rem; font-size: .98rem; line-height: 1.6rem;}
#inquiry-area .table:first-child {margin-top: 2.4rem;}
#inquiry-area .table>ul {width: 100%;}
#inquiry-area .table>ul:after {content: ''; display: block; clear: both;}
#inquiry-area .table li {float: left; width: 26%; border-bottom: 1px solid #e0e0e0;}
#inquiry-area .table li:nth-child(3n) {width: 48%;}
#inquiry-area .table li:last-child {border-bottom: none;}
#inquiry-area li.consult-area, #inquiry-area li.current-area {width: 100%;}
#inquiry-area .table li:after {content: ''; display: block; clear: both;}
#inquiry-area .heading {float: left; box-sizing: border-box; width: 8rem; box-sizing: border-box; padding: 1rem 0; padding-left: 1.36rem; color: #333333; font-weight: 600;}
#inquiry-area .data {float: left; width: calc(100% - 8rem); box-sizing: border-box; padding: 1rem 1.36rem; color: #666666;}
#inquiry-area .current-area .heading {color: #4197ec;}
#inquiry-area .current-area .data {color: #4197ec;}


@media screen and (max-width: 1400px) {
    #inquiry-area .table li {width: 50%;}
    #inquiry-area .table li.addr-area, #inquiry-area .table li.sum-area, #inquiry-area .table li.consult-area, #inquiry-area .table li.current-area {width: 100%;}
}

@media screen and (max-width: 800px) {
    #inquiry-area .table {padding: 0; border: none; border-top: 2px solid #a4a4a4;}
    #inquiry-area .table li {width: 100%;}
    #inquiry-area .table li:nth-child(3n) {width: 100%;}
    #inquiry-area .heading {width: 100%; padding-bottom: 0; padding-left: 0;}
    #inquiry-area .data {width: 100%; box-sizing: border-box; padding: 1rem 0;}
}