@charset "utf-8";

#main-top-area {background: url(../../img/visual/visual_06.jpg) no-repeat center 57%; background-size: cover;}

section h4 {font-size: 1.2rem; font-weight: 600;}
#basic-info-area, #detail-info-area, #incharge-info-area {margin-top: 2.16rem;}
#basic-info-area>ul, #detail-info-area>ul, #incharge-info-area>ul {margin-top: 1.36rem; border-top: 2px solid #a4a4a4; text-align: center;}
#basic-info-area>ul:after, #detail-info-area>ul:after, #incharge-info-area>ul:after {content: ''; display: block; clear: both;}
#basic-info-area li, #detail-info-area li, #incharge-info-area li {float: left; box-sizing: border-box; border-bottom: 1px solid #e0e0e0; border-left: 1px solid #d6d6d6;}
#basic-info-area li {width: 25%;}
#detail-info-area li, #incharge-info-area li {width: 20%;}
#basic-info-area li:first-child, #detail-info-area li:first-child, #incharge-info-area li:first-child {border-left: none;}
#basic-info-area .heading, #detail-info-area .heading, #incharge-info-area .heading {height: 3.5rem; line-height: 3.5rem; background-color: #f1f1f1; font-weight: 600;}
#basic-info-area .data, #detail-info-area .data, #incharge-info-area .data {height: 4.8rem; line-height: 4.8rem; color: #666666;}

#basic-info-area li:nth-child(1), #basic-info-area li:nth-child(2) {width: 50%;}
#basic-info-area li:nth-child(3) {border-left: none;}
#detail-info-area li:nth-child(1) {width: 100%;}
#detail-info-area li:nth-child(2) {border-left: none;}

section .description {margin-top: 2rem; font-size: .97rem; color: #777777;}

section>.btn-wrap {text-align: center;}
section>.btn-wrap button {margin: 3.2rem .6rem 0; width: 23.4rem; padding: .92rem 0; font-size: 1.12rem; font-weight: 400; }


@media screen and (max-width: 1400px) {
    
}

@media screen and (max-width: 800px) {
    #basic-info-area li, #detail-info-area li, #incharge-info-area li {width: 100% !important; border-left: none;}
    #btn-edit-info {margin: 3.2rem 0; width: 100%;}
}