@charset "utf-8";

section table {margin-top: 2rem; width: 100%; border-top: 1px solid #c4c4c4; color: #666666;}
section table th, section table td {vertical-align: middle; border-bottom: 1px solid #ededed;}
section table th {width: 11.8%; background-color: #f9f9f9; color: #333333;}
section table td {width: 70%; word-break:break-all; padding: 1.5rem 1.7rem; line-height: 1.64rem;}
#graph li:not(:first-child) {margin-top: .8rem;}
#graph li:after {content: ''; display: block; clear: both;}
#graph li>div {float: left;}
#graph li .tit {width: 6.6rem;}
#graph li .graph-bar {height: .8rem; margin-top: .5rem;}
#graph li:nth-child(1) .graph-bar {background-color: #60c7aa;}
#graph li:nth-child(2) .graph-bar {background-color: #425c73;}
#graph li:nth-child(3) .graph-bar {background-color: #2c9ed0;}
#graph li:nth-child(4) .graph-bar {background-color: #ee5b63;}
#graph li:nth-child(5) .graph-bar {background-color: #f9a427;}
#graph li .val {margin-left: .7rem;}
#graph li .val:before {content: '(';}
#graph li .val:after {content: ')';}

section table tr:nth-child(3) li:not(:first-child) {margin-top: .8rem;}
section table tr:nth-child(3) li:after {content: ''; display: block; clear: both;}
section table tr:nth-child(3) li .cont {width: 92%; float: left;}
section table tr:nth-child(3) li .date {width: 8%; float: right; font-size: .96rem; text-align: right;}

section .btn-wrap {float: right; margin: 1rem 0 3rem;}
section .btn-wrap a, section .btn-wrap button {display: inline-block; background-color: #4197ec; color: #ffffff; margin-left: .8rem;}
section .btn-wrap a {padding: .94rem 2.14rem;}
section .btn-wrap button {padding: .7rem 2.14rem;}
