@charset "utf-8";

input[type='text'], textarea {box-sizing: border-box; border: 1px solid #d6d6d6; padding: .6rem 1rem; font-size: .98rem; color: #999999;}
input[type='checkbox'] {display: none;}
input[type='checkbox'] + label {position: relative; display: inline-block; margin-left: 3rem; font-size: .98rem;}
input[type='checkbox'] + label:after {content: ''; position: absolute; left: -44px; top: -6px; display: inline-block; width: 24px; height: 24px; border: 2px solid #d3d3d3; margin-left: .6rem; margin-bottom: -.4rem;}
input[type='checkbox']:checked + label:after {background: url(../../img/check_4197ec_14x10.png) no-repeat center; border-color: #71b0ef;}
input[type='file'] {display: none;}
input[type='file'] + label {display: inline-block; text-align: center; margin-left: .6rem; width: 6.3rem; padding: .85rem 0; border: 1px solid #c7c7c7; color: #666666;}

#board {color: #333333;}
#board table {margin-top: 2rem; width: 100%; border-top: 1px solid #c4c4c4;}
#board table th, #board table td {vertical-align: middle; border-bottom: 1px solid #ededed;}
#board table th {width: 14%; background-color: #f9f9f9; font-weight: 600; font-size: 1.1rem; text-align: center;}
#board table td {width: 86%; padding: 1rem;}
/*#board table tr:nth-child(1) {height: 4.8rem;}*/
#input-tit {width: 51.2rem;}
textarea {width: 100%;}
#attach-list li:not(:first-child) {margin-top: .94rem;}
#attach-list input[type='text'] {width: 21.8rem;}
#attach-list button {margin-left: .6rem; width: 6.3rem; padding: .6rem 0; border: 1px solid #c7c7c7; color: #666666;}
#attach-list .file {margin-left: .8rem; color: #666666;}

section .btn-wrap {float: right; margin: 1rem 0 3rem;}
section .btn-wrap a, section .btn-wrap button {display: inline-block; background-color: #4197ec; color: #ffffff; margin-left: .8rem;}
section .btn-wrap a {padding: .94rem 2.14rem;}
section .btn-wrap button {padding: .7rem 2.14rem;}
