@charset "utf-8";

#main-board {margin-top: 1.88rem; width: 100%; border-top: 2px solid #666666;}
#main-board li {box-sizing: border-box;}
#main-board .heading {font-weight: 600; font-size: 1rem; color: #666666; text-align: center; border-bottom: 1px solid #333333; }
#main-board .data {font-weight: 400; font-size: .88rem; color: #666666; text-align: center; border-bottom: 1px solid #e6e6e6;}
#main-board .data a {color: #666666;}
#main-board .heading li {padding: 1.3rem 0;}
#main-board .data li {padding: 1.5rem 0 .7rem;}
#main-board .col:after {content: ''; display: block; clear: both;}
#main-board .col>li {float: left; min-height: 3.87rem;}
#main-board .col .col-01 {width: 10.8%;}
#main-board .col .col-02 {width: 65%;}
#main-board .col .col-03 {width: 11%;}
#main-board .col .col-04 {width: 13.2%;}
#main-board .data .col-02 {text-align: left; padding-left: 3%; font-size: .96rem;}

section a.btn-add {display: block; float: right; background-color: #4197ec; margin: 1.24rem 0 3rem; padding: .94rem 2.14rem; color: #ffffff;}