@charset "utf-8";

/* body {background: url(../../../02_design/durian.png) no-repeat center top;}
body * {opacity: .9;} */

/* common */
html {scroll-behavior: smooth;}
body {min-width: 320px; font-size: 16px; letter-spacing: -.05em; background-color: #ffffff;}
body * {font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif;}
a {text-decoration: none;}
button {padding: 0; background: none; border: none; cursor: pointer;}

.wrapper {max-width: 1200px; box-sizing: border-box; padding: 0 30px; margin: 0 auto;}

/* header */
header {position: fixed; top: 0; left: 0; width: 100%; height: 90px; background-color: #ffffff; z-index: 99; transition: .4s;}
header .wrapper {position: relative; height: 100%;}
h1 {position: absolute; width: auto; height: 100%; display: flex; align-items: center;}
h1 span {display: block; width: 0; height: 0; overflow: hidden;}
header .lnb {position: absolute; top: 0; left: 39.2%; height: 100%; font-weight: normal; font-size: 1.125rem; letter-spacing: 0;}
header .lnb ul {width: 16.8rem; height: 100%; display: flex; justify-content: space-between; align-items: center;}
header .lnb a {color: #666666;}
header .lnb a.on {color: #ffa94d; font-weight: bold;}
header .download-btn-wrap {position: absolute; top: 0; right: 30px; height: 100%; display: flex; align-items: center;}
header .download-btn-wrap a+a {margin-left: .75rem;}
header .btn-drawer-menu {position: absolute; top: calc(50% - .8rem); right: 30px; width: 2rem; height: 1.6rem; display: none; transition: .4s;}
header .btn-drawer-menu i {position: absolute; right: 0; display: block; width: 100%; height: 3px; border-radius: 4px; background-color: #444444; transition: .4s;}
header .btn-drawer-menu i:nth-child(1) {top: 0;}
header .btn-drawer-menu i:nth-child(2) {top: calc(50% - 2px); width: 68%;}
header .btn-drawer-menu i:nth-child(3) {bottom: 0;}
header .btn-drawer-menu.del {transform: rotate(360deg); transform-origin: center;}
header .btn-drawer-menu.del i:nth-child(1) {transform: rotate(-45deg); transform-origin: top right;}
header .btn-drawer-menu.del i:nth-child(2) {width: 0;}
header .btn-drawer-menu.del i:nth-child(3) {transform: rotate(45deg); transform-origin: right bottom;}

/* section */
section {height: 80vh;}

.slider {position: relative; width: 100%; height: 100%;}
.slider>div>div {width: 100%;}
.indicator {position: absolute; bottom: 3.75rem; width: 100%; text-align: center;}
.indicator button {width: 1rem; height: 1rem; border-radius: 100%; margin: 0 .52rem; background-color: #dadada;}
.indicator button.on {background-color: #ff911c;}
.slider .btn-left, .slider .btn-right {position: absolute; top: 50%; width: 4rem; height: 4rem; background-repeat: no-repeat; background-position: center; background-size: contain;}
.slider .btn-right {right: 4%;}
.slider .btn-left {left: 4%;}

#section-main-banner {padding-top: 92px;}
#section-main-banner h2 {width: 0; height: 0; overflow: hidden;}
#section-main-banner .banner {box-sizing: border-box; text-align: center; padding-top: 11.4rem; background-repeat: no-repeat; background-position: 92% 84%; background-size: 20%;}
#section-main-banner .slider .btn-right {background-image: url(../img/icon_anggle_right_ffffff_32x59.png); opacity: .8;}
#section-main-banner .slider .btn-left {background-image: url(../img/icon_anggle_left_ffffff_32x59.png); opacity: .8;}
#section-main-banner .banner h3 {font-weight: 300; font-size: 5rem; letter-spacing: -.16rem; color: #ffffff; word-break: keep-all;}
#section-main-banner .banner h3 span {font-weight: 600;}
#section-main-banner .banner .cont {margin-top: 4.4rem; font-weight: normal; font-size: 1.25rem; line-height: 1.75rem;}
#section-main-banner .banner .sub {margin-top: 1.1rem; font-weight: normal; font-size: 2rem; line-height: 2.625rem; letter-spacing: -.03em; color: #ffffff;}
#section-main-banner .banner .link-area .btn {background: linear-gradient(90deg, #ffa94d, #ff9728); color: #ffffff; text-transform: uppercase; font-weight: bold; font-size: 1.5rem; display: flex; justify-content: center; align-items: center; width: 16.25rem; height: 4.375rem; border-radius: 2.188rem; margin: 3.4rem auto 0;}
#section-main-banner .banner .comming {display: inline-block; margin-top: 6rem; text-transform: uppercase; font-weight: bold; font-size: 2rem; letter-spacing: 0;}
#section-main-banner .banner-01 {background-color: #ff6600; background-image: url(../img/character_durian_01_380x483.png);}
#section-main-banner .banner-01 .cont {color: #ffe5d3;}
#section-main-banner .banner-02 {background-color: #00a22a; background-image: url(../img/character_durian_02_380x484.png);}
#section-main-banner .banner-02 .cont {color: #e2ffea;}
#section-main-banner .banner-02 .comming {color: #036b1e;}
#section-main-banner .banner-03 {background-color: #307eff; background-image: url(../img/character_durian_03_380x484.png);}
#section-main-banner .banner-03 .cont {color: #deeaff;}
#section-main-banner .banner-03 .comming {color: #165dd3;}
#section-main-banner .banner-incentive {background-color: #ff4138; padding-top: 11.4rem;}
#section-main-banner .banner-incentive .sub {margin-top: 4.2rem;}
#section-main-banner .banner-incentive .img-area ul {display: flex; justify-content: center;}
#section-main-banner .banner-incentive .img-area li {margin-top: 1.5rem; background: url(../img/icon_point_01_122x122.png) no-repeat center top; padding-top: 5.2rem;}
#section-main-banner .banner-incentive .img-area li+li {margin-left: 1.25rem;}
#section-main-banner .banner-incentive .img-area .incen {background-color: #ff8a0d; color: #ffffff; font-weight: bold; font-size: 2.125rem; width: 18.75rem; height: 5.625rem; border-radius: .45rem; display: flex; justify-content: center; align-items: center;}
#section-main-banner .banner-incentive .img-area .terms {font-weight: bold; font-size: 1.5rem; color: #ffcfcc; margin-top: 1rem;}
#section-main-banner .banner-gemplus {background-color: #1497a3; background-image: url(../img/character_durian_04_381x483.png);}
#section-main-banner .banner-gemplus .sub {margin-top: 4.2rem;}
#section-main-banner .banner-gemplus .link-area h4 {margin-top: 3.5rem; font-weight: normal; font-size: 1.625rem; color: #04565d; margin-bottom: 2rem;}
#section-main-banner .banner-gemplus .link-area a {display: inline-block; margin: 0 .34rem;}

#section-durian {position: relative; text-align: center; min-height: 720px;}
#section-durian h2 {position: absolute; top: 0; left: 0; width: 100%; text-align: center; font-weight: normal; font-size: 2rem; color: #111111; padding: 2.875rem 0 2.75rem; background: url(../img/bg_section_tit.png) no-repeat center bottom;}
#section-durian .slider .btn-right {background-image: url(../img/icon_anggle_right_b7b7b7_32x59.png);}
#section-durian .slider .btn-left {background-image: url(../img/icon_anggle_left_b7b7b7_32x59.png);}
#section-durian h3 {font-weight: bold; font-size: 1.25rem; color: #333333; padding-top: 11.35rem;}
#section-durian .box-wrap {margin-top: 1.5rem; display: flex; justify-content: center; flex-wrap: wrap;}
#section-durian .box-wrap .box {font-weight: bold; font-size: 1.375rem; line-height: 1.8rem; color: #ffffff; background-color: #ff6e1f; border-radius: .25rem; min-width: 13.75rem; min-height: 2.813rem; padding: .6rem 2rem; display: flex; justify-content: center; align-items: center; position: relative;}
#section-durian .box-wrap .box + .box {margin-left: 1.125rem;}
#section-durian .box-wrap .box + .box::before {content: ''; display: block; position: absolute; left: -1.125rem; top: 50%; width: 1.125rem; height: auto; background-color: #ffc78b; z-index: 1;}
#section-durian .description {font-weight: 300; font-size: 1rem; line-height: 1.313rem; color: #666666; counter-reset: list-number; margin: 1.7rem auto 0; max-width: 640px; word-break: keep-all;}
#section-durian .description li {counter-increment: list-number; position: relative; margin-top: 1.4rem; padding-top: 2.4rem;}
#section-durian .description li::before {content: counter(list-number); background-color: #333333; color: #ffffff; font-weight: normal; font-size: 1.25rem; width: 2rem; height: 2rem; border-radius: 100%; display: flex; justify-content: center; align-items: center; position: absolute; top: 0; left: calc(50% - 1.125rem);}
#section-durian .sub {color: #ff911c; font-weight: normal; font-size: 1.125rem; line-height: 1.406rem; margin-top: 1.25rem;}
#section-durian .link-area {margin-top: 1.5rem;}
#section-durian .link-area h4 {width: 0; height: 0; overflow: hidden;}
#section-durian .link-area .comming {display: inline-block; margin-top: 1.375rem; text-transform: uppercase; font-weight: bold; font-size: 1.126rem; letter-spacing: 0; color: #695229;}

#section-screenshots {height: auto; background-color: #fff8ea;}
#section-screenshots h2 {width: 100%; text-align: center; font-weight: normal; font-size: 2rem; color: #111111; padding: 2.875rem 0 2.75rem; background: url(../img/bg_section_tit.png) no-repeat center bottom;}
#section-screenshots .img-list {max-width: 1200px; margin: 0 auto; height: auto; padding-bottom: 8rem;}
#section-screenshots .img-list>div>div {width: 25%; box-sizing: border-box; padding: 0 1.3333%;}
#section-screenshots .img-list img {width: 100%;}
#section-screenshots .btn-left, #section-screenshots .btn-right {display: none;}

#section-video {height: auto; padding-bottom: 2.25rem;}
#section-video h2 {width: 100%; text-align: center; font-weight: normal; font-size: 2rem; color: #111111; padding: 2.875rem 0 2.75rem; background: url(../img/bg_section_tit.png) no-repeat center bottom;}
#section-video .video-list::after {content: ''; display: block; clear: both;}
#section-video .video-list li {float: left; margin-top: 2rem; width: 48%;}
#section-video .video-list li:nth-child(even) {margin-left: 4%;}
#section-video img {width: 100%;}

#section-download {height: auto; padding: 3.25rem 0 4.5rem;}
#section-download h2 {width: 0; height: 0; overflow: hidden;}
#section-download .download-list {display: flex; flex-wrap: wrap;}
#section-download .download-list li {width: 49%; height: 240px; box-sizing: border-box; border: 2px solid #e3e3e3; border-radius: .5rem; overflow: hidden; display: flex;}
#section-download .download-list li:nth-child(even) {margin-left: 2%;}
#section-download .download-list .img-area {width: 50%; height: 100%; background-repeat: no-repeat;}
#section-download .download-list .durian .img-area {background-image: url(../img/character_durian_05_190x242.png); background-position: center bottom;}
#section-download .download-list .gemplus .img-area {background-image: url(../img/bg_gemplus_mockup_01.jpg); background-position: center; background-size: cover;}
#section-download .download-list .link-wrap {width: 50%; height: 100%; overflow: hidden;}
#section-download .download-list .link-wrap h3, #section-download .download-list .link-wrap a {color: #af9d7d; font-size: 1.25rem; display: flex; justify-content: left; align-items: center; padding: 0 1.5rem; height: 33.33%;}
#section-download .download-list .link-wrap a {border-top: 2px solid #ece4d0; justify-content: space-between;}

footer {background-color: #f8f8f8; text-align: center; color: #666666; padding: 2.5rem;}
footer address {max-width: 780px; margin: 0 auto; font-size: .875rem; line-height: 1.375rem;}
footer address h2 {display: flex; justify-content: center; align-items: center;}
footer address h2 img {margin-left: .4rem;}
footer address ul {margin-top: 1.375rem;}
footer address li {display: inline-block;}
footer address li + li::before {content: ' / '; color: #9b9b9b; padding: 0 .4rem;}
footer .copyright {margin-top: 1.375rem; color: #9d9d9d;}

@media (max-width: 1024px) {
    header .lnb {top: 90px; left: 0; width: 100%; height: auto; border-top: 2px solid #ececec; transform: rotateX(90deg); transform-origin: top; transition: .2s;}
    header .lnb ul {width: 100%; height: auto; display: block;}
    header .lnb a {display: flex; justify-content: space-between; align-items: center; position: relative; padding-left: 2rem; height: 90px; background-color: #ffffff; border-bottom: 2px solid #ececec; overflow: hidden;}
    header .lnb a::before {content: ''; display: block; position: absolute; top: 0; right: 2rem; width: 1rem; height: 100%; background: url(../img/icon_anggle_right_b7b7b7_15x26.png) no-repeat right center; background-size: .6rem;}
    header .lnb.on {transform: rotateX(0);}
    header .download-btn-wrap {display: none;}
    header .btn-drawer-menu {display: block;}

    .slider .btn-left, .slider .btn-right {display: none;}
    #section-main-banner .banner h3 {font-size: 2.688rem; line-height: 2.938rem;}
    #section-main-banner .banner .cont {margin-top: 2.2rem; font-size: 1rem; line-height: 1.313rem;}
    #section-main-banner .banner .sub {margin-top: 1rem; font-size: 1.25rem; line-height: 1.438rem;}
    #section-main-banner .banner .link-area .btn {font-size: .875rem; width: 9.063rem; height: 2.5rem; border-radius: 1.5rem; margin-top: 1.7rem;}
    #section-main-banner .banner .comming {margin-top: 3rem; font-size: 1.125rem;}
    #section-main-banner .banner-incentive .img-area ul {flex-wrap: wrap;}
    #section-main-banner .banner-incentive .img-area li {margin-top: 1.5rem; padding-top: 3rem; background-size: 4rem; width: 60%;}
    #section-main-banner .banner-incentive .img-area li+li {margin-left: 0;}
    #section-main-banner .banner-incentive .img-area .incen {font-size: 1.125rem; width: 100%; height: 3rem; }
    #section-main-banner .banner-incentive .img-area .terms {font-size: .875rem; margin-top: 1rem;}
    #section-main-banner .banner-gemplus .sub {margin-top: 4.2rem;}
    #section-main-banner .banner-gemplus .link-area h4 {margin-top: 3.5rem; font-weight: normal; font-size: 1.625rem; margin-bottom: 2rem;}
    #section-main-banner .banner-gemplus .link-area a {display: inline-block; margin: 0 .34rem;}

    #section-durian .box-wrap .box {width: 100%;}
    #section-durian .box-wrap .box + .box {margin-left: 0; margin-top: 1rem;}
    #section-durian .box-wrap .box + .box::before {top: -1rem; left: 50%; width: 2px; height: 1rem;}

    #section-screenshots {height: auto;}
    #section-screenshots .img-list>div>div {padding: 0 2%;}

    #section-download .download-list li {width: 100%;}
    #section-download .download-list li:nth-child(even) {margin-left: 0;}
    #section-download .download-list li+li {margin-top: 1.75rem;}
    #section-download .download-list svg {display: none;}
}
@media (max-width: 768px) {
    h1 img {width: 7rem;}

    section {height: 90vh;}
    #section-main-banner .banner {padding-top: 4rem; background-position: center 96%; background-size: 60%;}
    
    #section-main-banner .banner .cont {margin-top: 2rem; font-size: 1rem; line-height: 1.313rem;}
    #section-main-banner .banner .sub {margin-top: 1rem; font-size: 1.25rem; line-height: 1.438rem;}
    #section-main-banner .banner .link-area .btn {font-size: .875rem; width: 9.063rem; height: 2.5rem; border-radius: 1.5rem; margin-top: 1.7rem;}
    #section-main-banner .banner .comming {margin-top: 2rem;font-size: 1.125rem;}
    #section-main-banner .banner-incentive {padding-top: 4rem;}
    #section-main-banner .banner-incentive .sub {margin-top: 1rem;}
    #section-main-banner .banner-incentive .img-area ul {flex-wrap: wrap;}
    #section-main-banner .banner-incentive .img-area li {margin-top: 1.5rem; padding-top: 3rem; background-size: 4rem; width: 60%;}
    #section-main-banner .banner-incentive .img-area li+li {margin-left: 0;}
    #section-main-banner .banner-incentive .img-area .incen {font-size: 1.125rem; width: 100%; height: 3rem; }
    #section-main-banner .banner-incentive .img-area .terms {font-size: .875rem; margin-top: 1rem;}
    #section-main-banner .banner-gemplus .sub {margin-top: 2rem;}
    #section-main-banner .banner-gemplus .link-area h4 {margin-top: 2rem; font-size: 1rem; margin-bottom: 1rem;}

    #section-durian h3 {padding-top: 10rem;}
    #section-durian .description {margin-top: 1.7rem;}
    #section-durian .description li {margin-top: 1rem; padding-top: 0;}
    #section-durian .description li::before {display: none;}
    #section-durian .sub {font-size: 1.25rem; line-height: 1.6rem; margin-top: 1.25rem;}
    #section-durian .link-area .comming {margin-top: 1rem; font-size: 1.25rem;}

    #section-video .video-list li {width: 100%;}
    #section-video .video-list li:nth-child(even) {margin-left: 0;}

    #section-download .download-list .link-wrap h3, #section-download .download-list .link-wrap a {font-size: 1rem; padding: 0 1.5rem;}
    #section-download .download-list .link-wrap a img {width: 100%;}
}