@charset "utf-8";
/*@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');*/

/**************** tag ****************/
body * {font-family: 'Noto Sans KR', 'Nanum Gothic', 'Arial', sans-serif; letter-spacing: -.025rem;
    -webkit-font-smoothing: subpixel-antialiased;
	-webkit-touch-callout: none;
	/* -webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none; */
}

a {text-decoration: none; color: #333333;}
button {padding: 0; border: none; background: none;}
input {border: none;}
button:focus, input:focus {outline: 1px dotted #ffffff;}
label {cursor: pointer;}
input[type="checkbox"]:focus + label:before, input[type="radio"]:focus + label:before {outline: 1px dotted #666666;}
select:focus {outline: 1px dotted #4197ec;}
strong {color: #333333;}
caption {height: 0; width: 0; overflow: hidden; text-indent: -9999999px; font-size: 0; line-height: 0;}

/**************** attribute ****************/   
::-webkit-input-placeholder {color: #777777;}/* Edge */
:-ms-input-placeholder {color: #777777;}/* Internet Explorer 10-11 */
::placeholder {color: #777777;}

/**************** loading ****************/  
#loading-area {position: absolute; top: 0; left: 0; width: 100%; height: 100%; min-height: 970px; background-color: rgba(0,0,0,0); z-index: 999;}
#loading-area:after {content: ''; display: block; position: absolute; top: 50%; left: 50%; width: 100px; height: 100px; margin: -50px 0 0 -50px; border: 16px solid #f3f3f3; border-radius: 50%; border-top: 16px solid #4197ec; animation: spin 1.6s linear infinite;}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/**************** class ****************/
.center-wrap {box-sizing: border-box; width: 100%; max-width: 1400px; min-width: 320px; margin: 0 auto; padding: 0 40px;}
.btn-blue {background-color: #4197ec; color: #ffffff;}
.btn-blue:focus {outline-color: #666666;}
.btn-line {border: 1px solid #999999;}
.btn-line:focus {outline-color: #4197ec;}
#btn-skip-content {position: fixed; top: -1.8rem; left: 0; width: 100%; display: block; text-align: center; padding: .4rem; background-color: #4197ec; color: #ffffff; z-index: 999; transition: .2s;}
#btn-skip-content:focus {top: 0;}

/**************** header ****************/
header {position: fixed; top:0; left: 0; width: 100%; min-width: 320px; height: 5rem; border-bottom: 1px solid rgba(255,255,255,.2); background-color: rgba(0,0,0,.2); z-index: 99; transition: .4s;}
header a {color: #ffffff;}
header:after {content: ''; display: block; clear: both;}
header h1 {position: absolute; bottom: 1.3rem; left: 4.4rem;}
header h1 a {font-size: 1.6rem; font-weight: 400; background: url(../../img/logo_fur_ffffff_184x24.png) no-repeat center;}
header h1 a span {opacity: 0;}
#main-menu-btn {position: absolute; bottom: 1.32rem; right: 2rem; width: 2rem; height: 2rem; background: url(../../img/icon/icon_btn_hamburger_ffffff_24x22.png) no-repeat center; display: none;}
header nav {float: left;}
#gnb {position: absolute; bottom: 1.6rem; right: 2.8rem; font-size: .88rem; color: #ffffff;}
#gnb .hi {float: left; margin-right: 2rem; font-size: .94rem; letter-spacing: 0; font-weight: 200;}
#gnb ul {float: left;}
#gnb li {float: left; margin-left: 1rem; border-left: 1px solid #ffffff; padding-left: 1rem;}
#gnb li:first-child {margin-left: 0; border-left: none; padding-left: 0;}
#gnb .btn-login {background: url(../../img/icon/icon_lock_ffffff_12x15.png) no-repeat left center; padding-left: 1.2rem;}
#lnb {position: absolute; left: 20.4%; bottom: -1px; font-size: 1.1rem; font-weight: 600; text-align: center;}
#lnb .main li {float: left; padding: 2.6rem 4.4rem 1.48rem;}
#lnb .main li:first-child {margin-left: 0;}
#lnb .main li a {position: relative;}
#lnb .main li a:after {content: ''; display: block; position: absolute; bottom: -1.2rem; left: 0; width: 0; height: 4px; background-color: #ffffff; transition: .6s;}
#lnb .main li.active a:after, #lnb .main li.on a:after, #lnb .main li:hover a:after, #lnb .main li a:focus:after {width: 100%;}
#lnb .main li.active a:after {background-color: #ffffff;}
header.ver-02 {background-color: #4197ec;}
header.ver-02 a {color: #ffffff;}
header.ver-02 #main-menu-btn {background-image: url(../../img/icon/icon_btn_hamburger_ffffff_24x22.png);}
header.ver-02 #gnb li {border-color: #ffffff;}
header.ver-02.ver-02 #lnb .main li.active, .ver-02 #lnb .main li:hover {border-color: #4197ec;}
header.ver-02 #gnb .btn-login {background-image: url(../../img/icon/icon_lock_ffffff_12x15.png);}
header.ver-02 #lnb .main li.active a:after {background-color: #ffffff;}
#main-dropdown-area {position: absolute; left: 0; top: 5rem; width: 100%; height: 28rem; background-color: #ffffff; border-bottom: 1px solid #2282e0; z-index: 99; display: none;}
#main-dropdown-area a {color: #666666;}
#main-dropdown-area h2 {float: left; clear: both; width: 14rem; font-size: 2.4rem; font-weight: 400; display: none;}
#main-dropdown-area .depth-01 {height: 100%; margin-left: calc(20.4% + 3.1rem);}
#main-dropdown-area .depth-01:after {content: ''; display: block; clear: both;}
#main-dropdown-area .depth-01>li {box-sizing: border-box; height: 100%; padding: 2.8rem 0 3.2rem; float: left; border-left: 1px solid #f6f6f6; padding-left: 1.2rem;}
#main-dropdown-area .depth-01>li.active, #main-dropdown-area .depth-01>li:hover {background-color: #4197ec;}
#main-dropdown-area .depth-01>li.active h2, #main-dropdown-area .depth-01>li:hover h2 {color: #ffffff;}
#main-dropdown-area .depth-01>li.active a, #main-dropdown-area .depth-01>li:hover a {color: #ffffff;}
#main-dropdown-area .depth-01>li:nth-child(1) {width: 14.7rem;}
#main-dropdown-area .depth-01>li:nth-child(2) {width: 12.8rem;}
#main-dropdown-area .depth-01>li:nth-child(3) {width: 13.9rem;}
#main-dropdown-area .depth-01>li:nth-child(4) {width: 14rem;}
#main-dropdown-area .depth-02 {font-size: .94rem; font-weight: 600;}
#main-dropdown-area .depth-02>li {margin-top: 1.58rem;}
#main-dropdown-area .depth-02>li:first-child {margin-top: 0;}
#main-dropdown-area .depth-02 a {color: #333333;}
#main-dropdown-area .depth-03 {font-size: .82rem; font-weight: 400;}
#main-dropdown-area .depth-03>li {margin-top: .84rem;}
#main-dropdown-area .depth-03 a {color: #747474;}
#main-dropdown-area li.gnb .hi, #main-dropdown-area li.gnb .login {display: none;}
#main-dropdown-area li.gnb .hi {margin-bottom: 1rem;}
#main-dropdown-area li.gnb {float: right; margin-right: 2.8rem; border-left: none; border-right: 1px solid #f6f6f6; padding-right: 1.1rem; text-align: right; font-size: .94rem; font-weight: 600;}
#main-dropdown-area .gnb li:not(:first-child) {margin-top: 1.5rem;}

/**** Main top area ****/
#main-top-area {overflow: hidden; min-width: 320px;}
#main-tit-area {clear: both; height: 7.74rem; padding-top: 9.2rem;}
#main-tit-area h2 {text-align: center; color: #ffffff; font-size: 2.2rem; background: url(../../img/underline_ffffff_50x1.png) no-repeat center bottom; padding-bottom: 1.16rem;}
#location-bar {position: relative; color: #ffffff;}
#location-bar:after {content: ''; display: block; position: absolute; bottom: 0; left: 50%; width: 50%; height: 100%; background-color: #4197ec; z-index: 1;}
#location-bar .center-wrap {position: relative; box-sizing: border-box; max-width: 1320px; padding: 0; background-color: #4197ec; z-index: 10;}
#location-bar .center-wrap:after {content: ''; display: block; clear: both;}
#location-bar a {color: #ffffff;}
#location-bar .btn-home {display: block; width: 3.7rem; height: 3.7rem; float: left; background: #4197ec url(../../img/icon/icon_home_ffffff_24x20.png) no-repeat center; border-left: 1px solid #5faffe; border-right: 1px solid #5faffe; overflow: hidden; text-indent: -999px;}
#location-bar .location {float: left; padding-left: 1.24rem;}
#location-bar .location li {float: left; line-height: 3.7rem; font-size: .96rem; margin-left: 1.5rem; background: url(../../img/icon/icon_angle_right_ffffff_7x11.png) no-repeat left center; padding-left: 1.7rem;}
#location-bar .location li:first-child {margin-left: 0; background: none; padding-left: 0;}
#btn-page-print {display: block; width: 3.7rem; height: 3.7rem; float: right; background: #4197ec url(../../img/icon/icon_print_ffffff_25x22.png) no-repeat center; border-left: 1px solid #5faffe; border-right: 1px solid #5faffe; overflow: hidden; text-indent: -999px;}

/**************** section ****************/
section h3 {padding: 4.3rem 0 1rem; font-size: 1.92rem; font-weight: bold; line-height: 2.4rem; color: #333333;}
section .subtit {margin-left: 1rem;}
h3+.subtit {font-weight: 400; font-size: .97rem; line-height: 1.4rem; color: #777777; margin-left: 1rem;}
#paging-btn-area {position: relative; margin: 3.2rem auto 0; text-align: center;}
#paging-btn-area .btn-prev, #paging-btn-area .btn-next {width: 2rem; height: 2rem; border: 1px solid #ececec; background-repeat: no-repeat; background-position: center; overflow: hidden; text-indent: -9999px; font-size: 1.6rem;}
#paging-btn-area .btn-prev {left: -2.2rem; background-image: url(../../img/icon/icon_angle_double_left_000000_32x32.png);}
#paging-btn-area .btn-next {right: -2.2rem; background-image: url(../../img/icon/icon_angle_double_right_000000_32x32.png);}
#paging-btn-area ul {display: inline-block; padding: 0 1rem;}
#paging-btn-area li {position: relative; display: inline-block; padding: 0 .88rem;}
#paging-btn-area li button {position: absolute; top: -1.8rem; left: 25%; font-size: 1.1rem; padding-bottom: .1rem; color: #999999;}
#paging-btn-area .active {border-bottom: 1px solid #333333; color: #333333;}
#paging-btn-area button:focus {outline-color: #4197ec;}

/**** 오류페이지 ****/
#error-page {padding: 11.3rem 0 3.6rem; background: url(../../img/icon/icon_error_01_92x79.png) no-repeat center 4.5rem; text-align: center;}
#error-page .tit {font-size: 2.44rem; color: #333333;}
#error-page .sub {margin-top: 2.4rem; color: #333333;}
#error-page .sub span {color: #ff1818;}
#error-page a.btn-color {margin-top: 4.56rem; display: inline-block; width: 14.64rem; padding: 1.24rem 0; background-color: #4197ec; color: #ffffff;}
#error-page a.btn-color:focus {outline-color: #666666;}

/**** 고객 평가 ****/
#customer-evaluation {margin-top: 4.4rem; border: 1px solid #c6c6c6;}
#customer-evaluation:after {content: ''; display: block; clear: both;}
#customer-evaluation .tit {color: #333333; font-size: 1.2rem; font-weight: bold; padding: 2.44rem 0 1.1rem;}
#customer-evaluation .choice-area {float: left; box-sizing: border-box; width: 57.76%; padding: 0 2.6%;}
#customer-evaluation .choice-area li {float: left; margin-left: 4.2%;}
#customer-evaluation .choice-area li:first-child {margin-left: 0;}
#customer-evaluation .choice-area input[type="radio"] {opacity: 0;}
#customer-evaluation .choice-area input[type="radio"] + label {display: inline-block; padding: 1.4rem 0; padding-right: 2.44rem; background-repeat: no-repeat; background-position: right center; margin-left: -1rem;}
    #valuation-01 + label {background-image: url(../../img/icon/icon_face_lovely_adadad_30x30.png);}
    #valuation-02 + label {background-image: url(../../img/icon/icon_face_good_adadad_30x30.png);}
    #valuation-03 + label {background-image: url(../../img/icon/icon_face_normal_adadad_30x30.png);}
    #valuation-04 + label {background-image: url(../../img/icon/icon_face_discomposure_adadad_30x30.png);}
    #valuation-05 + label {background-image: url(../../img/icon/icon_face_cry_adadad_30x30.png);}
    #valuation-01:checked + label {background-image: url(../../img/icon/icon_face_lovely_4197ec_30x30.png);}
    #valuation-02:checked + label {background-image: url(../../img/icon/icon_face_good_4197ec_30x30.png);}
    #valuation-03:checked + label {background-image: url(../../img/icon/icon_face_normal_4197ec_30x30.png);}
    #valuation-04:checked + label {background-image: url(../../img/icon/icon_face_discomposure_4197ec_30x30.png);}
    #valuation-05:checked + label {background-image: url(../../img/icon/icon_face_cry_4197ec_30x30.png);}
#customer-evaluation .choice-area input[type="radio"] + label:before {content: ''; display: inline-block; width: 16px; height: 16px; background: url(../../img/radio_16x16.png) no-repeat left center; margin-right: .5rem;}
#customer-evaluation .choice-area input[type="radio"]:checked + label:before {background-image: url(../../img/radio_on_16x16.png);}
#customer-evaluation .descriptive-area {float: left; box-sizing: border-box; width: 42.24%; border-left: 1px solid #c6c6c6; padding: 0 2.4% 2.06rem;}
#customer-evaluation .descriptive-area label {display: none;}
#customer-evaluation .descriptive-area .form-box {position: relative; width: 100%; height: 2.88rem;}
#customer-evaluation .descriptive-area input[type="text"] {float: left; box-sizing: border-box; width: 100%; height: 100%; padding: 0 1.24rem; border: 1px solid #d6d6d6;}
#customer-evaluation .descriptive-area input[type="text"]:focus {border: 4px solid #4197ec;}
#customer-evaluation .descriptive-area input[type="submit"] {position: absolute; right: 0; width: 6.2rem; height: 100%; background-color: #4197ec; color: #ffffff;}
#customer-evaluation .descriptive-area input[type="submit"]:focus {outline: 1px dotted #777777;}

/**************** footer ****************/
footer {margin-top: 5rem; background-color: #212121; padding: 2.44rem 0 2.36rem;}
footer:after {content: ''; display: block; clear: both;}
footer a {color: #a9a9a9;}
footer .foot-btn-list {float: left;}
footer .foot-btn-list>li {float: left; border-left: 1px solid #cccccc; padding-left: 1.36rem; margin: .88rem 0; margin-left: 1.5rem;}
footer .foot-btn-list>li:first-child {border-left: none; padding-left: 0; margin-left: 0;}
footer .foot-link-select {position: relative; float: left; margin-left: 4.12rem; width: 14rem;}
footer .foot-link-select button {background-repeat: no-repeat; background-position: 90% center; background-image: url(../../img/icon/icon_angle_bottom_ffffff_16x8.png); border: 1px solid #dededf; color: #a9a9a9; width: 100%; padding: .6rem .84rem; text-align: left; font-size: 1.12rem;}
footer .foot-link-select button.active {background-image: url(../../img/icon/icon_angle_top_ffffff_16x8.png);}
footer .foot-link-select .select-option {position: absolute; left: 0; bottom: 2.4rem; box-sizing: border-box; width: 100%; background: #ffffff; border: 1px solid #cccccc; display: none;}
footer .foot-link-select .select-option li {box-sizing: border-box; width: 100%; padding: 1rem .6rem;}
footer .foot-link-select .select-option li a {color: #444444;}
footer .foot-link-select .select-option li:hover {background-color: #eaeaea;}
footer address {float: right; text-align: right; color: #a9a9a9; font-size: .9rem; line-height: 1.4rem; margin-top: -.2rem;}

/**************** popup ****************/
#popup-area {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.5); display: none; z-index: 999;}
#popup-area .popup-box {position: relative; box-sizing: border-box; min-width: 320px; margin: 12% auto; background-color: #ffffff; box-shadow: 0 0 10px rgba(0,0,0,.5); display: none;}

#popup-login {max-width: 29rem; padding-bottom: 2rem;}
#popup-login, #popup-login h2 {display: none;}
#popup-login .close {position: absolute; top: -2.6rem; right: 0; width: 2.6rem; height: 2.6rem; background: url(../../img/btn_close_01_40x40.png) no-repeat center;}
#popup-login .tab {display: flex; padding: 0 2%; border-bottom: 1px solid #eeeeee;}
#popup-login .tab li {position: relative; flex: auto; text-align: center;}
#popup-login .tab button {padding: 1.4rem 0 1.1rem; border-bottom: 1px solid rgba(0,0,0,0); color: #999999; font-size: 1.1rem; font-weight: 400;}
#popup-login .tab button:focus {background-color: #cccccc;}
#popup-login .tab .active button {border-color: #4197ec; color: #4197ec;}
#popup-login .cont>li {display: none;}
#popup-login .individual h3 {text-align: center; padding: 3.36rem 0; font-size: 2.24rem; font-weight: 600;}
#popup-login .individual .btn-wrap {text-align: center; margin-bottom: 3.36rem;}
#popup-login .individual .btn-wrap button {width: 11.2rem; padding: .92rem 0; margin: 0 .9rem; font-size: 1.12rem; font-weight: 400;}
#popup-login .individual .btn-wrap #cellphone-verification {background-color: #4197ec; color: #ffffff;}
#popup-login .individual .btn-wrap #cellphone-verification:focus {background-color: #3286db;}
#popup-login .corporate .btn-wrap {text-align: center; padding-top: 1.88rem;}
#popup-login .corporate .btn-wrap button, #popup-login .corporate .btn-wrap a {display: inline-block; width: 11.2rem; padding: .86rem 0; margin: .38rem 0; font-size: 1.12rem; font-weight: 600;}
#popup-login .corporate .btn-wrap a {padding: 1.14rem 0;}
#popup-login .corporate .btn-wrap .line-btn {background-color: #ffffff; color: #666666; border: 1px solid #999999;}
#popup-login .corporate .btn-wrap .line-btn:focus {outline-color: #4197ec;}
#popup-login .corporate .btn-wrap .color-btn {background-color: #4197ec; color: #ffffff;}
#popup-login .corporate .btn-wrap .color-btn:focus {outline-color: #333333;}
#popup-login .description {padding: 0 2.2rem 2.36rem; font-size: .94rem; line-height: 1.4rem; color: #666666;}
#popup-login .description li {margin-top: .6rem;}
#popup-login .description li:first-child {margin-top: 1.8rem; border-top: 1px solid #d9d9d9; padding-top: 1.6rem;}
#btn-certify {display: block; width: 10rem; padding: .4rem 0; margin: 0 auto; background-color: #4197ec; color: #ffffff;}

#popup-auto-logout {max-width: 28rem; padding: 2.4rem;}
#popup-auto-logout .tit {padding: .4rem 0; padding-left: 5rem; background: url(../../img/icon/icon_hourglass_4197ec.png) no-repeat left center; background-size: contain;}
#popup-auto-logout h2 {font-size: 1.2rem; color: #666666;}
#popup-auto-logout p {margin-top: .4rem; font-size: 1.5rem;}
#popup-auto-logout p .num {font-size: 1.8rem; color: #4197ec;}
#popup-auto-logout .description {margin-top: 1.6rem; border-top: 1px solid #eaeaea; padding: 0 .6rem;}
#popup-auto-logout .description li {list-style: disc; margin-left: 1rem; margin-top: 1rem; font-size: .88rem; line-height: 1.2rem; color: #777777;}
#popup-auto-logout .main-btn-wrap {margin-top: 1.6rem; text-align: center;}
#popup-auto-logout .main-btn-wrap button {width: 10rem; height: 3.2rem; margin: .4rem .6rem;}

#popup-anysign4pc-install {max-width: 48rem; padding: 2.4rem;}
#popup-anysign4pc-install h2 {font-weight: bold; font-size: 1.2rem; color: #333333;}
#popup-anysign4pc-install .close {position: absolute; top: -2.6rem; right: 0; width: 2.6rem; height: 2.6rem; background: url(../../img/btn_close_01_40x40.png) no-repeat center;}
#popup-anysign4pc-install table {width: 100%; margin: 1.6rem 0;}
#popup-anysign4pc-install th, #popup-anysign4pc-install td {vertical-align: middle; text-align: center; border-bottom: 1px solid #dddddd; padding: 1rem 0;}
#popup-anysign4pc-install th {border-top: 1px solid #999999; font-weight: bold;}
#popup-anysign4pc-install th:nth-child(1) {width: 22%;}
#popup-anysign4pc-install th:nth-child(2) {width: 42%;}
#popup-anysign4pc-install th:nth-child(3) {width: 18%;}
#popup-anysign4pc-install td {line-height: 1.6rem; color: #666666;}
#popup-anysign4pc-install td button {padding: .4rem .8rem;}
#popup-anysign4pc-install li {list-style: disc outside; margin-left: 1rem; margin-top: .4rem; color: #666666;}


/**************** responsive ****************/
@media screen and (max-width: 1400px) {
    header {position: absolute;}
    #gnb {right: 10%;}
    #lnb {display: none;}
    #main-menu-btn {display: block;}
    #main-dropdown-area {overflow: scroll; height: 100%; padding: 0;}
    #main-dropdown-area h2 {display: block; margin-bottom: 1.2rem; font-size: 2.2rem;}
    #main-dropdown-area .depth-01 {margin-left: 2.4%;}
    #main-dropdown-area .depth-01:after {content: ''; display: block; clear: both;}
    #main-dropdown-area .depth-01>li {width: auto; height: auto; margin-top: 4rem; margin-left: 2rem; border-left: none; padding: 0;}
    #main-dropdown-area .depth-01>li:hover {background-color: #ffffff;}
    #main-dropdown-area .depth-01>li:hover h2 {color: #333333;}
    #main-dropdown-area .depth-01>li:hover a {color: #333333;}
    #main-dropdown-area .depth-02 {float: left; width: 12rem; border-left: 1px solid #cccccc; padding-left: 2rem;}
    #main-dropdown-area .gnb {margin-right: 2.72rem; padding: 4rem 0 6rem;}
    header .auth {display: none !important;}
    
    /**** 고객 평가 ****/
    #customer-evaluation .choice-area {float: none; width: 100%;}
    #customer-evaluation .choice-area:after {content: ''; display: block; clear: both;}
    #customer-evaluation .choice-area li {float: left; margin-left: 5%;}
    #customer-evaluation .choice-area li:first-child {margin-left: 0;}
    #customer-evaluation .descriptive-area {float: none; width: 100%; border-left: none; border-top: 1px solid #cccccc;}
    
    /**************** footer ****************/
    footer address {clear: both; margin-top: 2rem;}
    
    /**************** popup ****************/
    #popup-login .tab {display: none;}
}

@media screen and (max-width: 800px) {
    header h1 {left: 2rem;;}
    #gnb {display: none;}
    #main-dropdown-area h2 {box-sizing: border-box; width: 100%; padding: 2.4rem 0 0rem; padding-left: 6%; font-size: 1.2rem; font-weight: 600;}
    #main-dropdown-area h2:after {content: '+'; display: inline-block; float: right; color: #4197ec; padding-right: 2rem;}
    #main-dropdown-area h2.active:after {content: '-';}
    #main-dropdown-area .depth-01 {margin-left: 0;}
    #main-dropdown-area .depth-01>li {float: none; margin-top: 0rem; margin-left: 0; border-bottom: 1px solid #cccccc;}
    #main-dropdown-area .depth-01>li:nth-child(1), #main-dropdown-area .depth-01>li:nth-child(2), #main-dropdown-area .depth-01>li:nth-child(3), #main-dropdown-area .depth-01>li:nth-child(4) {width: 100%; box-sizing: border-box;}
    #main-dropdown-area .depth-01>li:first-child {margin-left: 0;}
    #main-dropdown-area .depth-01>li:after {content: ''; display: block; clear: both;}
    #main-dropdown-area .depth-02 {box-sizing: border-box; width: 100%; padding-left: 10%; padding-bottom: 1rem; border-left: none; display: none;}
    #main-dropdown-area .depth-02>li {margin-top: 1.2rem;}
    #main-dropdown-area .depth-03 {box-sizing: border-box; width: 100%; padding-left: 2%;}
    #main-dropdown-area .depth-03>li {margin-top: .8rem;}
    #main-dropdown-area li.gnb {padding-top: 4rem; padding-bottom: 4rem; border: none;}
    #main-dropdown-area li.gnb .hi, #main-dropdown-area li.gnb .login {display: block;}
    #main-dropdown-area li.gnb h2:after {content: '';}
    #main-dropdown-area .gnb li:not(:first-child) {margin-top: .8rem;}
    
    /**** Main top area ****/
    body #main-top-area {background-size: cover;}
    #location-bar {display: none;}
    
    /**************** section ****************/
    section.center-wrap {padding-bottom: 2.56rem;}
    section .subtit {margin-left: 0;}
    h3+.subtit {margin-left: 0;}
    
    /**** 고객 평가 ****/
    #customer-evaluation {margin-top: 4rem; border: none;}
    #customer-evaluation .tit {font-size: .97rem; padding: 0; margin-bottom: 1.2rem;}
    #customer-evaluation .choice-area {float: none; width: 100%; padding: .6rem; margin-bottom: 2.3rem;}
    #customer-evaluation .choice-area li {float: none; margin-left: .9rem;}
    #customer-evaluation .choice-area li:first-child {margin-left: .9rem;}
    #customer-evaluation .choice-area input[type="radio"] + label {padding: .52rem 0; padding-right: 2.5rem;}
    #customer-evaluation .descriptive-area {float: none; width: 100%; border: none; padding: 0 .4rem;}
    #customer-evaluation .descriptive-area .form-box {position: relative; height: auto;}
    #customer-evaluation .descriptive-area input[type="text"] {float: none; height: 2.88rem;}
    #customer-evaluation .descriptive-area input[type="submit"] {position: static; width: 100%; height: 2.88rem; margin-top: 1rem;}
    
    /**************** footer ****************/
    footer {padding: 2.2rem 0 2.66rem;}
    footer .center-wrap {padding: 0 40px;}
    footer .foot-btn-list {float: none;}
    footer .foot-btn-list>li {float: none; border-left: none; padding-left: 0; margin: .88rem 0; margin-left: 0;}
    footer .foot-btn-list>li:first-child {margin: 0}
    footer .foot-link-select {position: relative; float: none; margin-left: 0; width: 14rem;}
    footer address {text-align: center; color: #a9a9a9; font-size: .9rem; margin-top: 5.44rem; float: none;}
    footer address p:not(:first-child) {margin-top: .6rem;}
    
    #popup-login .individual .btn-wrap button {margin: .8rem;}
}

@media print {
    html, body {width: 1400px; height: auto;}
    header {display: none;}
}














