@charset "utf-8";

#main-top-area {background: url(../../img/visual/visual_05_02.jpg) no-repeat center 28%; background-size: cover;}

section {color: #666666;}
section label {display: none;}
section form {margin-top: 2.65rem; border-top: 1px solid #c4c4c4;}
section form li {border-bottom: 1px solid #ededed;}
section form li:after {content: ''; display: block; clear: both;}
section form .tit {float: left; box-sizing: border-box; width: 10%; height: 100%; padding: 2.08rem 1.6rem 1.7rem; background-color: #f9f9f9; font-size: .96rem;}
section form .cont {float: left; box-sizing: border-box; width: 90%; padding: 1rem 1.04rem;}
section form .cont select {border: 1px solid #d6d6d6; height: 2.74rem; background: url(../../img/icon/icon_angle_bottom_666666_14x8.png) no-repeat 90% center; padding: 0 2.4rem 0 1rem; color: #999999; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
section form .cont select::-ms-expand { display: none; }
section form .cont input[type="text"] {box-sizing: border-box; height: 2.74rem; padding: .8rem; border: 1px solid #d6d6d6;}
section form .cont textarea {box-sizing: border-box; width: 100%; height: 10rem; padding: .8rem; border: 1px solid #d6d6d6; }
section form .name-area input {width: 22rem;}
section form .mob-num-area input {width: 6.3rem; margin: 0 .4rem;}
#input-mobile-01 {margin-left: 0;}
section form .addr-area {height: 8.6rem;}
section form .addr-area p:not(:first-child) {margin-top: 1.08rem;}
section form .addr-area select {width: 14.1rem; margin-right: 1.3rem;}
section form .addr-area p:nth-child(1) input {width: 10rem;}
section form .addr-area p:nth-child(2) input:nth-child(1) {width: 41.2rem;}
section form .addr-area label {margin-left: 2rem; margin-right: .8rem;}
section form .addr-area label+input {width: 8rem;}
section form .addr-area label[for="input-addr-02"] {display: inline-block;}
section form .amount-area .tit {clear: both;}
section form .amount-area input {width: 22rem;}
#input-postcode {width: 15em;}
#btn-search-postcode {background-color: #4197ec; color: #ffffff; width: 6.2rem; height: 2.74rem; margin-left: .6rem;}
section form .text-area {height: 14.8rem;}
#chck-agreement {opacity: 0;}
#chck-agreement + label {display: inline-block; margin-top: 1rem; font-size: .94rem;}
#chck-agreement + label a {color: #4197ec; text-decoration: underline;}
#chck-agreement + label:after {content: ''; display: inline-block; width: 24px; height: 24px; background: url(../../img/checkbox_24x24.png) no-repeat center; margin-left: .6rem; margin-bottom: -.4rem;}
#chck-agreement:checked + label:after {background-image: url(../../img/checkbox_on_24x24.png);}
#chck-agreement:focus + label:after {outline: 1px dotted #666666;}
section form .main-btn {display: block; background-color: #4197ec; color: #ffffff; font-size: 1.1rem; width: 23.4rem; height: 3.5rem; margin: 2.3rem auto;}
section form .main-btn:focus {outline-color: #666666;}
section .notice {width: 69%; margin: 3.7rem auto;}
section .notice h4 {font-size: 1.06rem; font-weight: 600; margin-bottom: 1.4rem;}
section .notice li {margin-top: .8rem; font-size: .94rem; color: #666666;}
section .notice li:first-child {margin-top: 0;}

/**** popup ****/
/*
#popup-search-addr {max-width: 31.2rem;}
#popup-search-addr h4 {padding: 1.2rem; background-color: #4197ec; color: #ffffff; font-weight: 400; font-size: 1.1rem;}
#popup-search-addr .close {position: absolute; top: 1.2rem; right: 1.1rem; width: 19px; height: 19px; background: url(../../img/btn_close_02_19x19.png) no-repeat center;}
#popup-search-addr>.cont {padding: 2.12rem 1.2rem;}
#form-search-addr input {box-sizing: border-box; width: 74%; height: 2.74rem; border: 1px solid #dcdcdc; padding: .4rem;}
#form-search-addr button {box-sizing: border-box; width: 21.8%; height: 2.74rem; background-color: #4197ec; color: #ffffff; margin-left: 2.4%;}
#popup-search-addr .result-area {margin-top: 1.6rem; height: 25.8rem; overflow: scroll;}
#popup-search-addr .result-area .guide {margin-top: 11.2rem; text-align: center; color: #666666;}
#popup-search-addr .result-area .guide {display: none;}
#popup-search-addr .result-wrap h5 {background-color: #f5f5f5; color: #666666; font-size: .946em; padding: .84rem 1.2rem;}
#popup-search-addr .result-wrap h5 span {color: #4197ec;}
#popup-search-addr .result-wrap li {border-bottom: 1px solid #dcdcdc; color: #666666;}
#popup-search-addr .result-wrap li:first-child {border-top: 1px solid #dcdcdc;}
#popup-search-addr .result-wrap li:after {content: ''; display: block; clear: both;}
#popup-search-addr .result-wrap .left {float: left; width: 82.8%;}
#popup-search-addr .result-wrap .left>div:after {content: ''; display: block; clear: both;}
#popup-search-addr .result-wrap .left h6 {float: left; width: 18.8%; text-align: center; font-size: .88rem; padding: 1.04rem 0;}
#popup-search-addr .result-wrap .addr-land h6 {padding: .5rem 0;}
#popup-search-addr .result-wrap .left .data {float: left; width: 81.2%; box-sizing: border-box; border-left: 1px solid #dcdcdc; border-right: 1px solid #dcdcdc; padding: .7rem .7rem;}
#popup-search-addr .result-wrap .addr-road .data {font-size: .95rem; line-height: 1.4rem;}
#popup-search-addr .result-wrap .addr-land .data {font-size: .82rem; line-height: 1.2rem; padding: .32rem .7rem .82rem;}
#popup-search-addr .result-wrap .addr-land .data a {color: #999999;}
#popup-search-addr .result-wrap .postcode {float: left; width: 17.2%; text-align: center; box-sizing: border-box; padding: 0 .44rem;}
#popup-search-addr .result-wrap .postcode h6 {margin-top: 47%; font-size: .88rem; color: #999999;}
#popup-search-addr .result-wrap .postcode .data {margin-top: .4rem; font-size: .96rem; word-break:keep-all; word-wrap:break-word;}
#popup-search-addr .result-wrap a:hover {text-decoration: underline;}
*/

@media screen and (max-width: 1400px) {
    section form .tit {float: none; box-sizing: border-box; width: auto; height: auto; padding: 1rem 1.6rem 0; background: none; font-size: 1.12rem; font-weight: 600;}
    section form .cont {float: none; width: 100%; padding: 1rem 1.6rem;}
    section form .addr-area {height: auto;}
    section form .addr-area label {display: block; margin-left: 0; margin-top: 2rem;}
    section form .addr-area label+input {width: 14.1rem; margin-top: .8rem;}
    section form .text-area {height: auto;}
    #chck-agreement + label {display: block; margin-left: 0; padding-top: 1rem; font-size: .94rem;}
}

@media screen and (max-width: 800px) {
    section form .tit {padding: 1rem 0;}
    section form .cont {padding: 1rem 0;}
    #input-name {width: 100%;}
    section form .cont select {width: 100%; background-position: 96% center; margin-bottom: 1rem;}
    section form .cont select+input {width: 100%;}
    section form .cont input:focus {border: 4px solid #4197ec;}
    section form .mob-num-area input {width: 29%; margin: 0 .6%;}
/*
    #input-postcode {width: 60%;}
    #btn-search-postcode {width: 36%; margin-left: 2%;}
*/
    section form .addr-area p:nth-child(1) input {width: 100%;}
    #input-addr-01, #input-addr-02 {width: 100%;}
    #input-amount {width: 100%;}
    section form .text-area textarea {width: 100%;}
    #btn-main-submit {width: 100%;}
    section .notice {width: 100%; border-bottom: 1px solid #c4c4c4; padding-bottom: 3rem; margin-bottom: 0;}
    #form-search-addr input {width: 100%; padding: .4rem;}
    #form-search-addr input:focus {border: 4px solid #4197ec;}
    #form-search-addr button {width: 100%; margin-left: 0; margin-top: .8rem;}
}