@charset "utf-8";

#main-top-area {background: url(../../img/visual/visual_05_02.jpg) no-repeat center 28%; background-size: cover;}

section {color: #666666;}
section h4 {padding: 2.68rem 0 1rem; font-weight: bold; font-size: 1.2rem;}

#board-view {margin-top: 2rem; width: 100%; border-top: 2px solid #666666; border-bottom: 1px solid #e6e6e6;}
#board-view .tit {font-weight: 600; font-size: 1.1rem; text-align: center;}
#board-view .cont {font-weight: 200; font-size: 1.06rem;}
#board-view .heading-area {height: 3.9rem; border-bottom: 1px solid #666666;}
#board-view .heading-area:after {content: ''; display: block; clear: both;}
#board-view .heading-area .heading .tit {float: left; width: 9%; padding-top: 1.44rem;}
#board-view .heading-area .heading .cont {float: left; box-sizing: border-box; width: 74%; padding-top: 1.44rem; padding-left: 1.3rem;}
#board-view .heading-area .date .tit {float: left; width: 5%; padding-top: 1.4rem;}
#board-view .heading-area .date .cont {float: left; width: 11%; padding-top: 1.56rem; text-align: center; font-size: 0.88rem; color: #666666;}
#board-view .cont-area {padding: 2.8rem 2rem; border-bottom: 1px solid #e6e6e6; color: #666666;}
#board-view .cont-area p {line-height: 2rem; margin-bottom: 2rem;}
#board-view .file-area:after {content: ''; display: block; clear: both;}
#board-view .file-area .tit {float: left; width: 9%; padding-top: 1.6rem;}
#board-view .file-area .cont {float: left; padding-top: 1.6rem; padding-left: 1.6rem; font-size: .96rem;}
#board-view .file-area .cont li {padding-bottom: 1.14rem;}
#board-view .file-area .cont li a {color: #666666;}

section a.btn-link-list-view {display: block; float: right; border: 1px solid #999999; margin: 1.32rem 0 3rem; padding: .88rem 2.14rem; color: #666666;}

#prevNext-area {clear: both; border-top: 2px solid #999999;}
#prevNext-area li {border-bottom: 1px solid #e6e6e6;}
#prevNext-area li a {color: #666666;}
#prevNext-area li:after {content: ''; display: block; clear: both;}
#prevNext-area .tit {float: left; width: 6.16rem;; padding: 1.44rem 0; padding-left: 1.6%; background-color: #f8f8f8; background-repeat: no-repeat; background-position: 83% center; font-weight: 600;}
#prevNext-area .prev .tit {background-image: url(../../img/icon/icon_angle_top_999999_14x8.png);}
#prevNext-area .next .tit {background-image: url(../../img/icon/icon_angle_bottom_999999_14x8.png);}
#prevNext-area .cont {float: left; padding: 1.44rem 0; padding-left: 1.8%; font-size: .98rem;}

@media screen and (max-width: 1400px) {
    #board-view .heading-area .heading .cont {width: 69%; padding-left: 1.2rem;}
    #board-view .heading-area .date .tit {width: 10%;}
}

@media screen and (max-width: 800px) {
    #board-view .heading-area {height: auto; padding: 0 1.6rem 1.6rem;}
    #board-view .heading-area .heading {float: none;}
    #board-view .heading-area .heading .tit {width: 100%; text-align: left;}
    #board-view .heading-area .heading .cont {width: 100%; padding-top: .88rem; padding-left: 0;}
    #board-view .heading-area .date {clear: both; float: none;}
    #board-view .heading-area .date .tit {width: 100%; text-align: left;}
    #board-view .heading-area .date .cont {width: 100%; text-align: left; padding-top: .88rem;}
    #board-view .file-area .tit {width: 100%; text-align: left; padding-left: 1.6rem;}
    #board-view .file-area .cont {clear: both; padding-top: .88rem;}
    #prevNext-area .tit {background-color: rgba(0,0,0,0)}
}