@charset "utf-8";

#main-top-area {background: url(../../img/visual/visual_05_02.jpg) no-repeat center 28%; background-size: cover;}

section {color: #666666;}

#main-accordion-list {margin-top: 2.1rem; border-top: 2px solid #999999;}
#main-accordion-list h4 {height: 0; width: 0; overflow: hidden; text-indent: -9999999px; font-size: 0; line-height: 0;}
#main-accordion-list .tit {position: relative; padding: 1.25rem 3.8rem; background: url(../../img/icon/icon_Q_01_24x24.png) no-repeat 1.2rem center; border-bottom: 1px solid #d4d4d4; font-size: 1.09rem; line-height: 1.4rem; cursor: pointer;}
#main-accordion-list .tit a {color: #666666;}
#main-accordion-list .tit:after {content: ''; position: absolute; top: calc(50% - 4px); right: 1.1rem; width: 18px; height: 10px; background: url(../../img/icon/icon_angle_bottom_999999_18x10.png) no-repeat center;}
#main-accordion-list .tit.active:after {background-image: url(../../img/icon/icon_angle_top_333333_18x10.png);}
#main-accordion-list .cont {padding: .94rem 1.44rem 3rem; padding-left: 3.8rem; background: #f8f8f8 url(../../img/icon/icon_A_01_24x24.png) no-repeat 1.2rem 1.2rem; border-bottom: 1px solid #d4d4d4; font-size: .97rem; line-height: 2rem; display: none;}

@media screen and (max-width: 1400px) {
    #paging-btn-area {width: 40%;}
    #paging-btn-area .btn-prev {left: -16%;}
    #paging-btn-area .btn-next {right: -16%;}
}

@media screen and (max-width: 800px) {
    #paging-btn-area {width: 68%;}
    #paging-btn-area .btn-prev {left: -20%;}
    #paging-btn-area .btn-next {right: -20%;}
}