@charset "utf-8";

#main-top-area {background: url(../../img/visual/visual_01.jpg) no-repeat center 28%; background-size: 100%;}

.certification-box {width: 100%; max-width: 26rem; margin: 0 auto; padding: 0 6.4rem 2rem;}
.certification-box h3 {text-align: center; margin-bottom: 2.4rem;}
.certification-box h4 {text-align: center; font-weight: bold; font-size: 1.08rem; margin: 1.6rem 0 1.2rem;}
.certification-box input[type="number"] {width: 100%; box-sizing: border-box; border: 1px solid #d6d6d6; padding: .8rem 1.24rem;}
.certification-box input[type="number"] + label {display: none;}
.certification-box .color-btn {display: block; box-sizing: border-box; width: 100%; height: 3.48rem; line-height: 3.54rem; font-size: 1.14rem; font-weight: 200; margin-top: .88rem; background-color: #4197ec; color: #ffffff;}
.certification-box .color-btn:focus {outline-color: #666666;}
.certification-box .btn-wrap {margin-top: 1.88rem; text-align: center;}
.certification-box .btn-wrap li {display: inline-block; padding: 0 1.4rem;}
.certification-box .btn-wrap li:not(:first-child) {border-left: 1px solid #d6d6d6;}
.certification-box .btn-wrap a {color: #666666;}
.certification-box .description {margin-top: 4rem;}
.certification-box .description li {list-style-image: url(../../img/circle_61affc_5x6.png); margin-left: 1rem; margin-top: 1rem; color: #666666;}
.certification-box .description li:first-child {margin-top: 0;}

@media screen and (max-width: 800px) {
    .certification-box {min-width: 320px; box-sizing: border-box; border: none; padding: 0;}
    .certification-box h3 {padding-top: 4rem;}
}