@charset "utf-8";

#main-top-area {background: url(../../img/visual/visual_07.jpg) no-repeat center 28%; background-size: cover;}

section>ul {padding: 0 1.2rem; color: #666666;}
section h4 {padding: 2.16rem 0 1.04rem; font-weight: bold; font-size: 1.2rem; color: #333333; background: url(../../img/underline_5caeff_34x2.png) no-repeat left bottom, url(../../img/pixel_cdd8e4.png) repeat-x bottom;}
section .subtit {margin: .9rem 0 2.4rem 1rem; font-size: .97rem; line-height: 1.5rem; color: #333333;}
section .cont {color: #666666; margin-bottom: 1.8rem;}
section .cont:after {content: ''; display: block; clear: both;}
section .cont img {float: left; width: 50%; margin: 0 1.6rem 0 1rem;}
section .cont p {font-size: .98rem; line-height: 1.8rem; margin-left: 1rem;}
section .cont>ul>li {font-size: .98rem; line-height: 1.8rem; margin-top: 1rem;}

section .cont .graphic-table {margin-top: 1.5rem; width: 100%;}
section .cont .graphic-table th, section .cont .graphic-table td {padding: .4rem 0; text-align: center; vertical-align: middle;}
section .cont .graphic-table tr:first-child th {width: 31%;}
section .cont .graphic-table tr:first-child th:nth-child(2) {width: 38%;}
section .cont .graphic-table .box {width: 100%; height: auto; border-radius: 10px; box-sizing: border-box;}
section .cont .graphic-table tr:first-child th .box {padding: 1.7rem .4rem 1.75rem; border: 1px solid #7eb9f2; background-color: #c4e2ff; color: #153351; font-size: 1.38rem;}
section .cont .graphic-table td .box {padding: 1.4rem .4rem 1.1rem; border: 1px solid #bbdcfb; background-color: #f1f8ff; color: #666666;}
section .cont .graphic-table h6 {display: inline-block; color: #417aaf; font-size: 1.1rem; line-height: 1.4rem; background: url(../../img/rhombus_417aaf_12x11.png) no-repeat left .24rem; padding-left: 1rem; margin-bottom: .2rem;}
section .cont .graphic-table tr:not(:first-child) th .box {position: relative; width: 50%; margin: auto; padding: 2.4rem .4rem 2.36rem; border: 3px solid #bbdcfb; background-color: #f1f8ff; color: #0c3d6b; font-size: 1.3rem;}
section .cont .graphic-table tr:not(:first-child) th .box:before, section .cont .graphic-table tr:not(:first-child) th .box:after {content: ''; display: block; width: 24%; height: 100%; top: 0; position: absolute; background-repeat: no-repeat; background-position: center;}
section .cont .graphic-table tr:not(:first-child) th .box:before {left: -38%; background-image: url(../../img/icon/icon_angle_left_c4e2ff_15x26.png);}
section .cont .graphic-table tr:not(:first-child) th .box:after {right: -38%; background-image: url(../../img/icon/icon_angle_right_c4e2ff_15x26.png);}

section>ul>li .cont-02 {padding: .8rem 1rem;}
section>ul>li .cont-02 h5 {color: #333333;}
section>ul>li .cont-02 h6 {margin: 2.1rem 0 .5rem; font-size: .97rem; color: #333333;}
section>ul>li .cont-02 li li {font-size: .97rem; line-height: 1.8rem; margin-left: 1.2rem;}


@media screen and (max-width: 1400px) {
    
}

@media screen and (max-width: 800px) {
    section .subtit {margin-left: 0;}
    section .cont img {width: 100%; margin-right: 0; margin-left: 0;}
    section .cont p {margin-left: 0;}
    section .cont .graphic-table th, section .cont .graphic-table td {padding: 0; text-align: justify;}
    section .cont .graphic-table th {text-align: center;}
    section .cont .graphic-table tr:first-child th {width: 40%;}
    section .cont .graphic-table tr:first-child th:nth-child(2) {width: 20%;}
    section .cont .graphic-table tr:first-child th:not(:nth-child(2)) {background-color: #c4e2ff;}
    section .cont .graphic-table td {background-color: #f1f8ff; border: 1px solid #bbdcfb;}
    section .cont .graphic-table tr:first-child th .box, section .cont .graphic-table td .box {border: none !important;}
    section .cont .graphic-table tr:not(:first-child) th .box {width: 80%; margin: auto; padding: 0;}
    section .cont .graphic-table tr:not(:first-child) th .box:before, section .cont .graphic-table tr:not(:first-child) th .box:after {display: none;}
    section .cont .graphic-table h6 {background: none; padding-left: 0; margin-bottom: .2rem;}
}



