@charset "utf-8";

#main-top-area {background: url(../../img/visual/visual_05_02.jpg) no-repeat center 28%; background-size: cover;}

section {color: #666666;}
section p {font-size: .97rem; line-height: 1.6rem; color: #818181;}
section .sequence {margin: 3.7rem 0 1.4rem; text-align: center;}
section .sequence li {position: relative; display: inline-block; box-sizing: border-box; width: 10.6rem; height: 10.6rem; border-radius: 6rem; border: 1px solid #4197ec; padding: .56rem; text-align: center; color: #ffffff;}
section .sequence li:not(:first-child) {margin-left: 11rem;}
section .sequence li:not(:first-child):after {content: ''; display: block; position: absolute; left: -11.2rem; top: calc(50% - .5rem); width: 11rem; height: 1rem; background: url(../../img/arrow_01_44a2d7_180x9.png) no-repeat center; background-size: contain;}
section .sequence li .wrap {width: 100%; height: 100%; border-radius: 50%; background: url(../../img/pattern_01.png);}
section .sequence li .num {padding: 1.4rem 0 .48rem; font-size: 2.6rem; font-weight: 100; background: url(../../img/underline_ffffff_22x1.png) no-repeat center bottom;}
section .sequence li .cont {width: 5rem; margin: .44rem auto 0; font-size: 1.06rem; line-height: 1.5rem;}
section .product-category-list {margin-left: 1.5rem; margin-bottom: 8rem;}
section .product-category-list h4 {padding: 2.16rem 0 1.04rem; font-weight: bold; font-size: 1.2rem; color: #333333; background: url(../../img/underline_5caeff_173x2.png) no-repeat left bottom, url(../../img/pixel_cdd8e4.png) repeat-x bottom;}
section .product-category-list p {margin-top: .8rem; margin-left: 1rem;}
section .link-list {width: 70%; margin: 1.74rem auto;}
section .link-list:after {content: ''; display: block; clear: both;}
section .link-list li {float: left; margin: .38rem .3rem;}
section .link-list li a {display: block; box-sizing: border-box; border: 3px solid #80c0ff; width: 17.8rem; height: 3.48rem; padding: 1rem; font-size: 1.06rem; font-weight: 600; background: url(../../img/btn_link_01_22x22.png) no-repeat 94% center; transition: .6s;}
section .link-list li a:hover {background-color: #80c0ff; color: #ffffff;}


@media screen and (max-width: 1400px) {
    section .sequence li {width: 10rem; height: 10rem; border-radius: 5rem;}
    section .sequence li:not(:first-child) {margin-left: 10%;}
    section .sequence li:not(:first-child):after {background: none;}
    section .sequence li .num {padding: 1rem 0 .48rem; font-size: 2.2rem;}
    section .sequence li .cont {width: 4.4rem;}
    section .link-list {width: 100%;}
}

@media screen and (max-width: 800px) {
    section .sequence {margin: 3.7rem 0 1.4rem; text-align: center;}
    section .sequence li {display: block; box-sizing: border-box; width: 100%; height: auto; border-radius: 0; border: 1px solid #4197ec; padding: .56rem; text-align: left;}
    section .sequence li:not(:first-child) {margin-left: 0; margin-top: 2rem;}
    section .sequence li .wrap {border-radius: 0; background: url(../../img/pattern_01.png); box-sizing: border-box; padding: 1rem;}
    section .sequence li .num {display: inline-block; border-right: 1px solid #ffffff; padding: 0 .48rem; font-size: 2rem; background: none;}
    section .sequence li .cont {display: inline-block; width: auto; margin: 0; margin-left: 1rem; font-size: 1.2rem;}
    section .product-category-list {margin-left: 0;}
}