@charset "utf-8";

#board-view {margin-top: 2rem; width: 100%; border-top: 2px solid #666666; color: #333333;}
#board-view .tit {font-weight: 600; font-size: 1.1rem; text-align: center;}
#board-view .cont {font-weight: 200; font-size: 1.06rem;}
#board-view .row {height: 3.9rem; border-bottom: 1px solid #666666;}
#board-view .row:after {content: ''; display: block; clear: both;}
#board-view .row .tit {float: left; width: 6.4rem;}
#board-view .row .cont {float: left; box-sizing: border-box; padding-left: 1.8rem;}
#board-view .row .left {float: left; padding-top: 1.4rem;}
#board-view .row .left .cont {font-size: 1.1rem;}
#board-view .row .right {float: right; width: 20%; padding-top: 1.56rem; text-align: center; font-size: 0.88rem;}
#board-view .row .right .cont {font-size: .94rem; color: #666666;}
#board-view .cont-area {padding: 2.5rem 2rem 3.1rem; border-bottom: 1px solid #666666; color: #666666;}
#board-view .cont-area p {line-height: 2rem; margin-bottom: 2rem;}

section a.btn-link-list-view {display: block; float: right; background-color: #4197ec; margin: 1.24rem 0 3rem; padding: .94rem 2.14rem; color: #ffffff;}
